// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@autocomplete-background: @color-white;
@autocomplete-border: 1px solid @form-element-input__border-color;
@autocomplete-item-border: 1px solid @color-gray90;
@autocomplete-item-hover: @color-gray91;
@autocomplete-item-amount-color: @color-gray60;

//
//    Common
//--------------------------------------

& when (@media-common = true) {


.block-search2 {
    margin-bottom: 0;
    top: -4px;
    .nav-sections & {
        display: none;
    }
    .block {
        &-title {
            display: block;
            visibility: hidden;
            margin-bottom: 0;
        }
    }
    .block-content {
        margin-bottom: 0;
    }
    .label {
       
        display: inline-block;
        float: right;
        margin-right: 15px;
        margin-top: -4px;
        font-size: 12px;
        cursor: pointer;
        &:before {
            content: '\f002' ;
            font-family: "FontAwesome";
        }
        span {
            display: none;
        }
        &.active {
            + .control {
                input {
                    position: static;
                }
            }
        }
    }
    .action.search {
        display: none;
    }
    .control {
        border-top: 1px solid @border-color__base;
        clear: both;
        margin: 0 -@layout__width-xs-indent -1px;
        padding: 0 @layout__width-xs-indent;
    }

    input {
        left: -300%;
        position: absolute;
        margin: 15px 0;
        cursor: pointer;
    }
    .nested {
        display: none;
    }
}

.search-autocomplete {
    display: none;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    margin-top: -15px;
    &:extend(.abs-add-box-sizing all);
    ul {
        .lib-list-reset-styles();
        &:not(:empty) {
            .lib-css(background, @autocomplete-background);
            .lib-css(border, @autocomplete-border);
            border-top: 0;
        }
        li {
            .lib-css(border-top, @autocomplete-item-border);
            cursor: pointer;
            padding: @indent__xs @indent__xl @indent__xs @indent__s;
            margin: 0;
            position: relative;
            text-align: left;
            white-space: normal;
            &:first-child {
                border-top: none;
            }
            &:hover,
            &.selected {
                .lib-css(background, @autocomplete-item-hover);
            }
            .amount {
                .lib-css(color, @autocomplete-item-amount-color);
                position: absolute;
                right: 7px;
                top: @indent__xs;
            }
        }
    }
}

.form.search.advanced {
    &:extend(.abs-forms-general-desktop all);
    .fields.range {
        .field {
            &:first-child {
                position: relative;
                .control {
                    padding-right: 25px;
                    &:after {
                        content: ' \2013 ';
                        display: inline-block;
                        text-align: center;
                        width: 25px;
                        position: absolute;
                        right: 0;
                        top: 6px;
                    }
                }
            }
            &:last-child {
                position: relative;
                div.mage-error[generated] {
                    position: absolute;
                    top: 32px;
                    left: 0;
                }
            }
            &.with-addon {
                .control {
                    padding-right: 45px;
                }
            }
            &.date {
                &:extend(.abs-field-date all);
            }
        }
    }
    .group.price {
        .addon {
            .addafter {
                background: none;
                border: 0;
                padding-top: 6px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

.search-terms {
   &:extend(.abs-reset-list all);
   line-height: 2em;
   > li {
        display: inline-block;
        margin-right: @indent__s;
   }
}
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
     .block-search {
        display: block;
        float: right;
        margin: 0;
        vertical-align: top;
        width: 40px;
        height: 45px;
        .block-title {
            display: none;
        }
        .nested ,
        .actions{
            display: none;
        }
        .form.minisearch {
            position: relative;
        }
        .label {
            position: absolute;
            width: 40px;
            line-height: 44px;
            display: block;
            left: 0;
            top: 0;
            text-align: center;
            background-color: #fff;
            z-index: 12;
            color: #111;
            margin: 0;
            cursor: pointer;
            &:before {
                content: '\f002' ;
                font-family: "FontAwesome";
            }
            span {
                display: none;
            }
        }
        input {
            position: absolute;
            top: 2px;
            right: 0;
            width: 40px;
            height: 42px;
            padding-right: 40px;
            margin: 0;
            color: #262626;
            border: none;  
            border-bottom: 1px solid #111111;
            border-radius: 0;
              -webkit-transition: width .55s ease;
              -moz-transition: width .55s ease;
              -ms-transition: width .55s ease;
              -o-transition: width .55s ease;
              transition: width .55s ease;
              box-sizing: border-box;
              padding-left: 0;
              background-color: #fff;
              z-index: 10;
            &:hover,
            &:focus {
                outline:none;
                border: none;
                border-bottom: 1px solid #111111;
            }
        }
        &:hover {
            input {
                outline:none; 
                width: 256px;
                border: none;
                border-bottom: 1px solid #111111;
                padding-left: 5px;
            }
            .label {
                color: #999;
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        width: 40px;
        height: 45px;
        .block-title {
            display: none;
        }
        .nested ,
        .actions{
            display: none;
        }
        .form.minisearch {
            position: relative;
        }
        .label {
            position: absolute;
            width: 40px;
            line-height: 43px;
            display: block;
            left: 0;
            top: 0;
            text-align: center;
            background-color: #fff;
            z-index: 12;
            color: #111;
            margin: 0;
            cursor: pointer;
            &:before {
                content: '\f002' ;
                font-family: "FontAwesome";
            }
            span {
                display: none;
            }
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 43px;
            padding-left: 40px;
            margin: 0;
            font-size: 10pt;
            float: left;
            color: #262626;
            border: none;  
            border-bottom: 1px solid #111111;
            border-radius: 0;
              -webkit-transition: width .55s ease;
              -moz-transition: width .55s ease;
              -ms-transition: width .55s ease;
              -o-transition: width .55s ease;
              transition: width .55s ease;
              box-sizing: border-box;
              padding-right: 0;
              background-color: #fff;
              z-index: 10;
            &:hover,
            &:focus {
                outline:none;
                border: none;
                border-bottom: 1px solid #111111;
            }
        }
        &:hover {
            input {
                outline:none; 
                width: 300px;
                border-bottom: 1px solid #111111;

            }
            .label {
                color: #999;
            }
        }
    }
        .search-autocomplete {
        margin-top: 0;
    }

}
