<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_ProductLabel extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_ProductLabel
 * @author ThaoPV <thaopw@gmail.com>
 *
 */
?>
<?php /** @var \Magenest\ProductLabel\Block\Product\View $block */ ?>
<span class="product-item-label">
    <?php if($block->isNewProduct()):?>
        <?php $newLabel = $block->getDefaultNewLabel();?>
        <?php if($newLabel->getProductDisplay()):?>
            <span class="new-product <?php echo $newLabel->getData('product_position')?>">
                <img src="<?php echo $newLabel->getData('product_image_url')?>" alt="new label"/>
            </span>
        <?php endif;?>
    <?php endif;?>

    <?php if($block->isSale()):?>
        <?php $saleLabel = $block->getSaleLabel();?>
        <?php if($saleLabel->getProductDisplay()):?>
            <span class="sale-product <?php echo $saleLabel->getData('product_position');?>">
                <?php if($saleLabel->getData('product_image_url')):?>
                    <img src="<?php echo $saleLabel->getData('product_image_url')?>" alt="sale label"/>
                <?php endif;?>
            </span>
        <?php endif;?>
    <?php endif;?>
</span>



