.sidebar .widget {
    position: relative;
    background: white;
}

.widget .block-title{
    margin-bottom: -5px !important;
    position: relative;
    background: white;
}

.block-content .item a{
    color: #454545 !important;
    margin-left: 16px;
}
.post-tag .tags-title {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}

.post-tag .blog-tags {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 6px;
    margin-left: 6px;
    padding: 0px 15px;
    max-width: 95%;
    height: 26px;
    border-radius: 10px;
    background: #C8C8C8 none repeat scroll 0% 0%;
    color: #4D4D4D;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
}
#accordion li{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: -1rem;
    margin-left: -20px;
}
#accordion a {
    text-decoration: none;
    color: #454545 !important;
    font-size: 14px;
}