// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.page-products {
    .page-title-wrapper {
        display: block;
    }
    
}
//
//    Product label
//--------------------------------------
& when (@media-common = true) {
    .sale-product {
        right: 0;
    }
    .new-product {
        left: 0;
    }
    .new-product,
    .sale-product{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        z-index: 1;
        text-decoration: none;
        display: none;
        max-width: 17%;
        .products .product-item &,
        .product.media &{
            display: block;
        }
        .product-items & {
            display: block;
        }
        img {
            max-width: 100%;
        }
        &.top-right {
            top: 0;
            right: 15px;
            margin-top: 0 !important;
            left: auto !important;
            margin-left: 0 !important;
        }
        &.top-left {
            top: 0;
            margin-top: 0 !important;
            left: 15px !important;
            margin-left: 0 !important;
            right: auto;
        }
        &.bottom-right {
            top: auto !important;
            margin-top: 0 !important;
            left: auto !important;
            margin-left: 0 !important;
            bottom: 0;
            right: 0;
        }
        &.bottom-left {
            top: auto !important;
            margin-top: 0 !important;
            left: 0 !important;
            margin-left: 0 !important;
            bottom: 0;
            right: auto;
        }
        &.mid-left {
            top: 50%;
            left: 0;
            margin-left: 0 !important;
            right: auto;
        }
        &.mid-right {
            top: 50%;
            left: auto;
            margin-left: 0 !important;
            right: 0;
        }   
        &.mid-mid {
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
        }
        &.top-mid {
            top: 0;
            margin-top: 0 !important;
            left: 50%;
            right: auto;
            bottom: auto;
        }
        &.bottom-mid {
            top: auto;
            bottom: 0;
            margin-top: 0 !important;
            left: 50%;
            right: auto;
        }
    }
    .product-image-container {
        position: relative;
    }
    .product.media {
        position: relative;
    }
}

//
//    Category view
//--------------------------------------
.action-number {
    .btn-number {
        line-height: 38px;
        width: 33px;
        display: block;
        font-size: 16px;
        color: #111111;
        text-align: center;
        position: absolute;
        top: 1px;
        cursor: pointer;
        font-weight: 500;
        &:before {
           
        }
        &:hover,
        &:focus {
            
        }
        &[disabled] {
            
        }
    }
    .btn-minus {
        left: 1px;
        &:before {
            content: "-";
        }
    }
    .btn-plus {
        right: 1px;
        &:before {
            content: "+";
        }
    }
}

.product-info-main {
    .box-tocart {
        .control {
            position: relative;
            overflow: hidden;
            input {

            }
        }
    }
}

.hideshare-wrap  {
    position: relative;
    height: auto !important;
    width: auto !important;
    .hideshare-list {
        position: static;
        display: inline-block !important;
        margin: 0;
        padding: 0;
    }
    span {
        display: none;
    }
    .share {
        display: inline-block;
        margin-right: 9px;
    }
    li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
        &:hover {
            color: #999999;
        }
        a {
            &:hover {
                color: #999999;
            }
        }
    }
}

.old-price,
.old.price {
    .lib-css(color, @text__color__muted);
    display: inline-block;
    .price-label {
        display: none;
    }
    .price {
        text-decoration: line-through;
        font-size: 16px;
    }
}

.price-tier_price {
    .price-including-tax + .price-excluding-tax {
        &:before {
            content: "(" attr(data-label) ":";
        }
        &:last-child:after {
            content: ")";
        }
    }

    .weee[data-label] {
        display: inline;
        &:before {
            content: " +" attr(data-label) ":";
        }
    }
}

.actual-price {
    font-weight: @font-weight__bold;
}

.product.name a {
    &:extend(.abs-product-link all);
}


.special-price {
    display: inline-block;
    margin-right: 0;
    .price-label {
        display: none;
    }
}
.old-price {
    margin-left: 2px;
    vertical-align: top;
}
.category {
    &-image {
        .image {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &-cms,
    &-image,
    &-description {
        margin-bottom: @indent__base;
    }
}


    .swatch-opt {
        margin: 0;
        > .swatch-attribute {
            width: 270px;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }
        .swatch-attribute-label {
            font-size: 14px;
            font-family: 'Raleway';
            text-transform: uppercase;
            font-weight: 600;
        }
        .swatch-attribute-options {
            margin-top: 8px;
            .swatch-option {
                border: 4px solid #fff;
                outline: 1px solid #e9e9e9;
                height: 30px;
                margin: 0 12px 12px 0;
                padding: 0;
                &:hover {
                    outline: 1px solid #111111;
                    border: 4px solid #fff;
                }
                &.text {
                    line-height: 30px;
                    height: auto;
                    background-color: #fff;
                }
                &.image,
                &.color,
                &.text {
                    min-width: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover,
                    &.selected {
                        outline: 1px solid #111111;
                        border: 4px solid #fff;
                    }
                }
            }
        }
    }
   /* .swatch-attribute {
        .swatch-attribute-options {
            margin-top: 8px;
            .swatch-option {
                border: 4px solid #fff;
                outline: 1px solid #e9e9e9;
                height: 30px;
                margin: 0 12px 12px 0;
                padding: 0;
                .product-item & {
                    height: 15px;
                }
                &:hover {
                    outline: 1px solid #111111;
                    border: 4px solid #fff;
                }
                &.text {
                    line-height: 30px;
                    height: auto;
                    background-color: #fff;
                    .product-item & {
                        line-height: 15px;
                    }
                }
                &.image,
                &.color,
                &.text {
                    min-width: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    .product-item & {
                        min-width: 20px;
                        font-size: 12px;
                    }
                    &:hover,
                    &.selected {
                        outline: 1px solid #111111;
                        border: 4px solid #fff;
                    }
                }
            }
        }
    }*/
//
//    Product images general container
//--------------------------------------
.product-image {
    &-container {
        display: block;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    &-wrapper {
        height: 0;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    &-photo {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: auto;
        max-width: 100%;
    }
}

//
//    Product view
//--------------------------------------
.product.media {
   
    .product.photo .photo.image {
        &:extend(.abs-adaptive-images-centered);
    }
    .placeholder .photo.container {
        max-width: 100%;
    }
    .notice {
        margin: @indent__s 0;
        .lib-css(color, @text__color__muted);
        .lib-font-size(@font-size__s);
    }
    .product.thumbs {
        margin: @indent__s 0 @indent__m;
    }
    .items.thumbs {
        .lib-list-inline();
        > li {
            margin: 1rem 0 0;
        }
        img {
            display: block;
        }
        .active {
            display: block;
            line-height: 1;
        }
    }
    .fotorama__stage__frame {
        text-align: left;
    }
    .fotorama__nav-wrap {
        margin-top: 23px;
    }
    .fotorama__nav__frame {
        padding: 0;
        margin-right: 23px;
        border: 2px solid #fff;
        box-sizing: border-box;
        &.fotorama__active {
            border: 2px solid #ff0000;
            box-sizing: border-box;
        }
    }
    .fotorama__thumb-border {
        display: none;
    }
   
    .fotorama__thumb__arr--left,
    .fotorama__thumb__arr--right {
        .fotorama__thumb__arr {
            background-color: #111111;
            background-image: none;
            text-align: center;
            color: #fff;
            line-height: 30px;
            padding: 0;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            &:before {
                content: "\f104";
                font-family: 'FontAwesome'; 
                font-size: 14px;
            }
        }
        &.fotorama__arr--disabled {
            opacity: 0;
        }
    }
    .fotorama__thumb__arr--right {
        .fotorama__thumb__arr {
            &:before {
                content: "\f105";
            }
        }
    }
    .fotorama__stage__frame {
        .fotorama__img {
            width: 100%;
        }
    }
}

.product.info.detailed {
    clear: both;
    margin-bottom: 30px;
    .additional-attributes {
        width: auto;
        .lib-table-bordered(
            @_table_type: clear
        );
        .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
        );
    }
}

.product-info-main {
    .product-info-price {
        display: block;
        width: 100%;
        .lib-css(color, @product-info-price);
        margin-bottom: @indent__s + @indent__xs;
        .price-box {
            display:block;
            vertical-align: top;
            .price-label {
                display: none;
            }
            .price-final_price > span {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .lib-font-size(14);
            .price {
                .lib-font-size(14);
                font-weight: @font-weight__semibold;
                line-height: 16px;
            }
        }
        .price-wrapper .price {
            .lib-font-size(22);
            font-weight: @font-weight__semibold;
            line-height: 22px;
        }
        .old-price {
            .price-wrapper .price {
                font-size: 16px;
                font-weight: 400;
                color: #999;
            }
            .price-container ,
            .price-label {
                .price-label {
                    display: none;
                }
            }
        }
        .special-price {
            .price-label {
                &:after {
                    content: ": ";
                }
            }
        }
    }
    .product-reviews-summary {
        margin-bottom: 15px;
    }
    .product-info-stock-sku {
        min-width: 15rem;
        text-align: left;
        display: block;
        vertical-align: top;
       
        padding-bottom: 0;
    }
    .stock {
        margin: 0 0 5px;
        &.available,
        &.unavailable {
            font-weight: 500;
            text-transform: capitalize;
        }
        &.available {
            &:before {
                content: "\f05d";
                font-weight: 400;
                text-transform: none;
                color: #05ae09;
                font-family: 'FontAwesome';
            }
        }
    }
    .product.attibute.sku ,
    .product.attribute.sku{
        word-wrap: break-word;
    }
    .product {
        &-add-form {
            clear: both;
            padding-top: @indent__s + @indent__xs;
            .field {
                label {
                    font-weight: 400;
                }
            }
        }

        &.attibute ,
        &.attribute   {
            &.sku {
                .type {
                    font-weight: normal;
                    margin-right: @indent__xs;
                    color: #999;
                    &:after {
                        content: '#:';
                    }
                }
                .value {
                    display: inline-block;
                    font-weight: 500;
                }
            }
            &.overview {
                margin: 10px 0 10px;
            }
        }
        &.alert {
            margin: @indent__s 0;
        }
    }
    .product-reviews-summary {
        float: none;
        .action {
            &:hover {
                color: #999;
            }
        }
    }
    .product-options-bottom,
    .product-add-form {
        .box-tocart {
            margin-top: 0;
            margin-bottom: 28px;
        }
        .action.tocart {
            
        }
    }
    .box-tocart .action.tocart {
        background-color: #EBEBEB;
        color: #333;
        border-color: #EBEBEB;
        font-size: 11px;
        text-transform: uppercase;
        font-family: 'Raleway';
        &:hover {
            background-color: #111;
            color: #fff;
        }
    }
    .product-options-wrapper {
        margin-bottom: 15px;
    }
    .product-addto-links {
        .action  {
            &:hover {
                color: #999;
            }
        }
    }
    .action.mailto.friend {
        display: none;
    }
}

.product-options-wrapper {
    .fieldset-product-options-inner {
        .legend {
            border: none;
            .lib-css(font-weight, @font-weight__semibold);
            display: inline-block;
            .lib-font-size(14px);
            float: none;
            padding: 0;
            margin: 0 0 8px;
        }
        &.required {
            .legend {
                &:after {
                    content: '*';
                    .lib-typography(
                    @_font-size: @form-field-label-asterisk__font-size,
                    @_color: @form-field-label-asterisk__color,
                    @_font-family: @form-field-label-asterisk__font-family,
                    @_font-weight: @form-field-label-asterisk__font-weight,
                    @_line-height: @form-field-label-asterisk__line-height,
                    @_font-style: @form-field-label-asterisk__font-style
                    );
                    .lib-css(margin, @form-field-label-asterisk__margin);
                }
            }
        }
    }
    .field {
        .note {
            display: block;
            .lib-css(margin-top, @indent__xs);
        }
    }
}
.product-add-form {
    .product-options-wrapper {
        >.fieldset {
            &:after,
            &:before {
                display: table;
                clear: both;
                content: "";
            }
        }
        .field.configurable {
            margin-bottom: 15px;  
            display: inline-block;
            margin-right: 15px;
            vertical-align: top;
            label {
                min-width: 60px;
            }
            label,
            .control {
                display: block;
            }  
            select  {
               
                height: 40px;
                font-size: 11px;
                padding-left: 11px;
            }            
        }
    }
}
.product-options-bottom .price-box,
.product-info-price .price-box {
    .lib-css(color, #e92727);
    display: table-cell;
    vertical-align: top;
    padding-bottom: @indent__s;
    .old-price {
        font-size: 16px;
      
        .price-container > span {
            display: inline-block;
        }
    }
    .price-container {
        > span {
            display: block;
            margin-bottom: @indent__xs;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .price {
            font-size: 26px;
            line-height: 22px;
            font-weight: 400;
        }
        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .lib-font-size(12);
            line-height: 14px;
            .price {
                .lib-font-size(12);
                font-weight: @font-weight__bold;
            }
        }
    }
}

.box-tocart {
    &:extend(.abs-box-tocart all);
    .field.qty {
        label {
            text-transform: uppercase;
        }
    }
    .input-text.qty {
        &:extend(.abs-input-qty all);
    }
    .actions {
    }
    .action.tocart {
        &:extend(.abs-button-l all);
        &:extend(.abs-button-responsive all);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        vertical-align: top;
    }
}

.product-addto-links {
    display: inline;
    .action {
        margin-right: 5%;
    }
}

.product-social-links {
    margin: 0 0 20px;
    text-align: center;
    .action.tocompare {
        &:extend(.abs-actions-addto all);
        .lib-icon-font-symbol(
            @_icon-font-content: @icon-compare-full,
            @_icon-font-position: before
        );

    }
    .action.towishlist {

    }
    .action {
        span {
            display: none;
        }

        &.towishlist {

        }
        &.tocompare {

        }
        &:hover {
            color: #999;
        }
    }
}

.prices-tier {
    &:extend(.abs-reset-list all);
    margin-bottom: @indent__s + @indent__xs;
    .item {
        margin-bottom: @indent__s;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .price-excluding-tax,
    .price-including-tax {
        display: inline-block;
    }
}

.minimal-price-link,
.price-excluding-tax,
.price-including-tax {
    white-space: nowrap;
    display: block;
}

.ui-dialog-titlebar-close {
    .lib-button-as-link();
}


//
//    Sidebar product view
//--------------------------------------
.sidebar {
    .product-items {
        .product-item {
            margin-bottom: @indent__base;
            position: relative;
            &-info {
                position: relative;
                width: auto;
                .product-item-photo {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &-name {
                margin-top: 0;
            }
            &-details {
                margin: 0 0 0 85px;
            }
            &-actions {
                display: block;
                margin-top: @indent__s;
            }
        }
        .price-box {
            display: block;
            margin: 7px 0;
        }
        .text {
            margin-right: 8px;
        }
        .counter {
            .lib-css(color, @primary__color__lighter);
            font-size: 12px;
            white-space: nowrap;
        }
        .minilist {
            .price {
                display: inline;
                padding: 0;
            }
            .weee:before {
                display: inline-block;
            }
        }
        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .action.tocart {
        border-radius: 0;
    }

    .subtitle {
        &:extend(.abs-no-display all);
    }

    //
    //    Product images only
    //--------------------------------------
    .product-items-images {
        &:extend(.abs-add-clearfix all);
        margin-left: -@indent__xs;
        .product-item {
            &:extend(.abs-add-box-sizing all);
            float: left;
            padding-left: @indent__xs;
        }
    }

    //
    //    Product names only
    //--------------------------------------
    .product-items-names {
        .product-item {
            margin-bottom: @indent__s;
        }
        .product-item-name {
            margin: 0;
        }
    }
}

.block-compare,
.block-reorder,
.block-wishlist,
.widget {
    .block-title {
        strong {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Raleway";
        }
    }
}

.product-info-main {
    .addthis_toolbox {
        margin-bottom: 20px;
    }
    .box-tocart {
        .field {
            &.qty {
                display: inline-block;
                vertical-align: bottom;
                padding-right: 0;
                margin-bottom: 0;
                width: 155px;
                .label {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: 'Raleway';
                    font-weight: 600;
                }
                .control {
                    display: block;
                    width: 113px;
                    vertical-align: middle;
                    position: relative;
                }
                input {
                    height: 40px;
                    width: 100%;
                    border: 1px solid #ebebeb;
                    text-align: center;
                    padding-left: 34px;
                    padding-right: 34px;
                }
            }
        }
        .actions {
            display: inline-block;
            vertical-align: bottom;
            min-width: 240px;
            margin-top: 10px;
            .product-addto-links {
                display: inline-block;
            }
        }
        .action {
            &.mailto.friend {
                display: none;
            }
            &.tocart {
                width: auto;
                display: block;
                vertical-align: top;
                margin-bottom: 0;
                width: auto;
                height: 40px;
                display: inline-block;
                margin-right: 10px;
                width: 122px;
                padding: 0;
            }
            
            &.towishlist,
            &.tocompare {
                line-height: 39px;
                width: 40px;
                text-align: center;
                background-color: #EBEBEB;
                span {
                    display: none;
                }
                .lib-icon-font(
                    @_icon-font-content:"\f004",
                    @_icon-font: "FontAwesome",
                    @_icon-font-size: 16px,
                    @_icon-font-color: #333,
                );
                &:hover,
                &:focus {
                    background-color: #111;
                    color: #fff;
                    &:before {
                        color: #fff;
                    }
                }
            }
            &.towishlist {
                margin-right: 10px;
            }
            &.tocompare {
                margin-right: 0;
                .lib-icon-font-symbol(
                    @_icon-font-content:"\f080",
                );
            }
        }
    }
}
}

//
//    Mobile @screen__m
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }
        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
    .product.media {
        width: 100%;
        max-width: 460px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .product.info.detailed {
        margin-bottom: 0;
    }
}

//
//    Mobile @screen__s
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .fotorama__nav__frame {
        
        border: none !important;
        &.fotorama__active {
            border: none !important;
            box-sizing: border-box;
        }
    }
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }
    .product-info-price {
        margin: 0;
       /* width: ~"calc(100% + 2*@{indent__s})"!important;*/
        > *:first-child {
            padding-left: 0;
        }
        > *:last-child {
            padding-right: 0;
        }
    }
    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
    .box-tocart {
        .field {
            &.qty {
                float: none;
            }
        }
    }

}
//
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    
}
//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                margin-bottom: 12px;
                text-transform: uppercase;
                font-size: 26px;
            }
        }
        .product-add-form {
            padding-top: @indent__base;
        }
    }

    

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                
            }
            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //    Category page layout
    //--------------------------------------
    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: 10px;
    }

    .page-layout-1column {
        .product-info-main {
            width: 57%;
        }
        .product.media {
            width: 40%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 57%;
        }
        .product.media {
            width: 40%;
            max-width: 470px;
        }
    }

    .product-add-form {
        .product-options-wrapper .field:not(.date) {
            > .control {
                width: 180px;
                display: block;
                vertical-align: top;
                font-size: 11px;
                select {
                    font-size: 11px;
                }
            }
            >.label {
                display: block;
                padding-top: 5px;
            }
        }

    }

    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        position: relative;
                        left: auto;
                        top: auto;
                        float: left;
                        margin: 0 @indent__s @indent__s 0;
                    }
                }
                &-details {
                    margin: 0;
                }
                &-actions {
                    clear: left;
                }
            }
        }
    }
    .product.info.detailed {
        border: none;
        text-align: center;
        padding-top: 35px;
        .clearfix();

        .items .item{
            &.title {
                margin: 0;
                float: left;
                display: block;
                text-transform: uppercase;
                margin-right: 20px;
                > a {
                    line-height: 40px;
                    display: block;
                    border: 1px solid #e9e9e9;
                    padding: 0 30px;
                    color: #111111;
                    font-size: 14px;
                    background-color: #fff;
                    &:hover,
                    &:focus {
                        border-color: #111111;
                        background-color: #111111;
                        color: #fff;
                    }
                }
                &.active,
                &:hover,
                &:focus {
                    > .switch {
                        border-color: #111111;
                        background-color: #111111;
                        color: #fff;
                    }
                }
                
            }
            &.content {
                border-width: 1px;
                border-color: #ebebeb;
                text-align: left;
                overflow: hidden;
                margin-top: 65px;
            }
        }
    }
}

//
//    Desktop large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-add-form {
        .product-options-wrapper {
            >.fieldset {
                &:after,
                &:before {
                    display: table;
                    clear: both;
                    content: "";
                }
            }
            .field.configurable {
                
                margin-bottom: 8px; 
                label {
                    min-width: 0;
                }    
                &:nth-child(2n+1) {
                    margin-right: 60px;
                }           
            }
        }
    }
    .catalog-product-view {
        .page-main {
            padding-top: 35px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: none;
                        margin: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &-details {
                    margin-left: 85px;
                }
            }
        }
    }
    .product.info.detailed {
        border: none;
        
    }
}


//
//    Common
//--------------------------------------

& when (@media-common = true) {

//
//    Compare Products Page
//--------------------------------------
body.catalog-product-compare-index {
    .action.print {
        float: right;
        margin: 15px 0;
    }
}

.table-wrapper.comparison {
    clear: both;
    max-width: 100%;
    overflow-x: auto;
    .table-comparison > tbody > tr{
        > th,
        > td {
            border-top: 0;
        }
    }
}

.table-comparison {
    table-layout: fixed;

    .cell.label.remove,
    .cell.label.product {
        span {
            &:extend(.abs-visually-hidden all);
        }
    }

    .cell.label,
    td:last-child {
        border-right: @table__border-width @table__border-style @table__border-color;
    }

    .cell {
        width: 180px;
        padding: 15px;
        .attibute.value {
            width: 100%;
            overflow: hidden;
        }

        &.product.info,
        &.product.label {
            border-bottom: @table__border-width @table__border-style @table__border-color;
        }
        &.label {
            .attribute.label {
                display: block;
                width: 100%;
                word-wrap: break-word;
            }
        }
        &.attribute {
            .lib-font-size(13);
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &.remove {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }
    }

    .product-item-photo {
        display: block;
        margin: 0 auto 15px;
    }
    .product-image-photo {
        margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
        display: block;
        margin: 15px 0;
    }

    .product-addto-links {
        margin-top: 15px;

        .action.split,
        .action.toggle {
            .lib-button-s();
        }

        .action.toggle {
            padding: 0;
        }
        .action  {
            &:hover {
                color: #999;
            }
        }
    }

    .action {
        &.tocart {
            white-space: nowrap;
        }
    }
}

.comparison.headings {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: auto;
    .lib-css(background, @color-white);
}

.block-compare {
    .block-title {
        &:extend(.abs-block-widget-title all);
    }
    .product-item .product-item-name {
        margin-left: 22px;
    }
    .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
        position: absolute;
        left: 0;
        top: 0;
    }
    .counter {
        &:extend(.abs-block-items-counter all);
    }
    .actions-toolbar {
        margin: 17px 0 0;
    }

    .action.primary {
        &:extend(.abs-revert-to-action-secondary all);
    }
}

}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr{
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*="block-compare"] {
        display: none;
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();
        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }
        .counter.qty {
            .lib-css(color, @primary__color__lighter);
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
}

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.block.related {
    .action.select {
        &:extend(.abs-action-button-as-link all);
        vertical-align: top;
    }
    .product-item-details {
        position: relative;
        z-index: 1;
    }
    .related-available .product-item-name {
        margin-left: 20px;
    }
    .field.choice {
        position: absolute;
        top: -2px;
        left: 0;
        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}

}

//
//    Desktop large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
