<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>

<div class=" wishlist">
    <?php $iterator = 1; ?>
    <?php if (count($block->getItems())): ?>
    <table>
        <tr>
            <th class="col-img"></th>
            <th class="col-detail">Product detail and comment</th>
            <th class="col-add-cart">add to cart</th>
            <th class="col-remove"></th>
        </tr>
        <?php foreach ($block->getItems() as $item): ?>
        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<tr data-row="product-item" class="product-item" id="item_' . $item->getId() . '">' : '</tr><tr class="product-item" id="item_' . $item->getId() . '">' ?>
          
                <?php foreach ($columns as $column): ?>
                <td class="col" >
                    <?php $column->setItem($item); echo $column->toHtml($item);?>
                </td>
                <?php endforeach; ?>
           
        <?php echo($iterator == count($block->getItems())+1) ? '</tr>' : '' ?>
        <?php endforeach; ?>
    </table>
    <?php else: ?>
        <div class="message info empty">
            <span><?php /* @escapeNotVerified */ echo __('This Wish List has no Items');?></span>
        </div>
    <?php endif; ?>
</div>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
