<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */
?>
<?php
/**
 * Blog sidebar categories template
 *
 * @var $block \Magenest\Blog\Block\Sidebar\Categories
 */
if (!$block->isActive()) {
    return;
}
?>
<div class="widget block block-categories" data-bind="scope: 'categories'">
    <div class="block-title">
        <h3><?php echo __('Categories') ?></h3>
    </div>
    <div class="block-content">
        <ul class="accordion" id="accordion">
            <?php echo $block->getCategoryToHtml();?>
        </ul>
    </div>
</div>