<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */
?>
<?php
    /** @var $block \Magenest\Blog\Block\Sidebar\Recent */
    if (!$block->isActive()) {
        return;
    }
?>

<?php
	$_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->getSize()): ?>
    <div class="widget block block-recent-posts" data-bind="scope: 'recent-posts'">
        <div class="block-title">
            <h3><?php echo __('Recent Posts') ?></h3>
        </div>
        <div class="block-content">
            <?php
            /** @var \Magenest\Blog\Model\Post $_post */
            foreach ($_postCollection as $_post): ?>
                <div class="item">
                    <a class="post-item-link" href="<?php echo $_post->getPostUrl() ?>">
                        <?php echo $block->escapeHtml(substr($_post->getTitle(), 0, 40));?>
                        <?php
                        if (strlen($_post->getTitle()) > 40){
                            echo '...';
                        }
                        ?>
                    </a>
                </div>

            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>