<?php
/**
 * Copyright Â© 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_Blog
 * @author   <ThaoPV> thaopw@gmail.com
 */
?>
<?php
 /** @var \Magenest\Blog\Block\Sidebar\Tags $block */
    if (!$block->isActive()) {
        return;
    }
?>
<div class="widget block block-tags-posts">
    <div class="block-title">
        <h3><?php echo __('Tags') ?></h3>
    </div>
    <div class="block-content">
        <?php $tags = $block->getTagsCollection(); ?>
        <?php if ($tags->getSize()):?>
            <?php foreach ($tags as $tag):?>
                <a class="tag-sidebar" href="<?php echo $block->getTagsUrl($tag->getName())?>"><?php echo __($tag->getName());?></a>
            <?php endforeach;?>
        <?php endif;?>
    </div>
</div>