// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {

// Product Lists

.product {
    &-items {
        &:extend(.abs-reset-list all);
        .products-grid & {
            margin: 0 -15px;
            width: auto;
            &:before,
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    &-item {
        vertical-align: top;
        .products-grid & {
            float: left;
            padding: 0 15px;
            margin-bottom: 15px;
        }
        .page-products .products-grid & {
            margin-bottom: 22px;
        }
        &:extend(.abs-add-box-sizing all);

        &-name {
            &:extend(.abs-product-link all);
            display: block;
            margin: @indent__xs 0;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 17px;
            text-transform: uppercase;
            &:hover {
                a {
                    color: #999;
                }
            }
            .page-products & {
                a {
                    &:hover {
                        color: #999;
                    }
                }
            }
            .products-list & {
                font-size: 18px;
                margin-top: 0;
                padding-top: 0;
                line-height: 1;
                margin-bottom: 10px;
            }
            .products-grid & {
                font-size: 14px;
                line-height: 1;
                margin: 14px 0 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &-photo {
            display: block;
            position: relative;
        }
        .new-product,
        .sale-product {
            
            span {
                display: none;
            }
        }
        
        &-info {
            width: 100%;
            max-width: 100%;
            .page-products & {
                
            }
            .products-grid & {
                position: relative;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                &:hover,
                &.active {
                    .product-item-inner {
                        bottom: 0;
                        opacity: 1;
                        .transition( 0.3s);
                    }
                }
            }
        }
        &-header {
            position: relative;
            overflow: hidden;
        }
        &-inner {
            .products-grid & {
                position: absolute;
                bottom: -80px;
                left: 0;
                right: 0;
                background-color: #fff;
                opacity: 0;
                z-index: 10;
                .transition( 0.3s);
                &:before,
                &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
            }
        }
        &-actions {
            display: none;
            .actions-secondary {
                > .action {
                    &:extend(.abs-actions-addto all);
                    &:before {
                        margin: 0;
                    }
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
            .actions-primary {
                .products-grid & {
                    display: block;
                }
            }
        }
        &-description {
            margin: 10px 0 40px;
        }
        &-details {
            .products-grid & {
                text-align: center;
            }
            .products-list & {
                padding-bottom: 35px;
            }
        }
        div[class^="swatch-opt-"] {
            .products-grid & {
                text-align: center;
                .swatch-option {
                    display: inline-block;
                    float: none;
                }
            }
        }
        .product-reviews-summary {
            .rating-summary {
                margin: 0 4px 0 0;
                text-align: left;
            }
            .reviews-actions {
                margin-top: 5px;
                text-transform: lowercase;
                font-size: 12px;
                color: #333;
                .products-grid & {
                    display: none;
                }
                .products-list & {
                    .view {
                        margin-right: 7px;
                       
                        &:after {
                            content: "|";
                            line-height: 10px;
                            color: #333;
                            padding-left: 7px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }   
                }
                
                a {
                    color: #333;
                }
            }
        }

        .price-box {
            margin: @indent__s 0 @indent__m;
            p {
                margin-bottom: 0;
            }
            .products-grid & {
                margin: 0px 0 0px;
                margin-bottom: 2px;
                .price {
                    font-weight: 400;
                    font-size: 18px;
                    color: #e92727;
                }
            }
            .products-list & {
                margin: 10px 0;
                .price {
                    font-weight: 400;
                    font-size: 18px;
                    color: #e92727;
                }
            }
            .price {
                font-weight: bold;
                font-size: 18px;
            }
            .price-label {
                font-size: @font-size__s;
                .lib-css(color, @text__color__muted);
                display: none;
            }
        }

        .old-price {
            margin: @indent__xs 0;

            .price-label {
                display: none;
            }
            .products-grid &,
            .products-list &
             {
                margin: 0;
                vertical-align: inherit;
                .price {
                    font-weight: 400;
                    color: #999;
                    text-decoration: line-through;
                    font-size: 14px;
                }
            }
            .price {
                font-weight: normal;
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .tocompare.action {
            &:before {
                content: '\f080' !important;
                font-family: "FontAwesome" !important;
            }
        }
        .towishlist.action {
            &:before {
                content: '\f004' !important;
                font-family: "FontAwesome" !important;
            }
        }
        .tocompare ,
        .towishlist {
            &.action {
                width: 40px;
                line-height: 40px;
                text-align: center;
                border: none;
                margin-bottom: 7px;
                background-color: #EBEBEB;
                &:before {
                    color: #111111;
                    font-size: 16px;
                }
                &:hover {
                    background-color: #111111;
                    &:before {
                        color: #fff;
                        
                    }
                }
            }
            
            .products-grid & {
                background-color: transparent;
                display: block;
                width: 38px;
                line-height: 40px;
                float: left;
                margin: 0;
                &:before {
                    color: #111111;
                    font-size: 14px;
                }
                &:hover {
                    background-color: transparent;
                    color: #999;
                    &:before {
                        color: #999;
                    }
                }
            }
        }
        .tocart {
            white-space: nowrap;
            border-radius: 0;
            .lib-font-size(11px);
            line-height: 1;
            padding-top: @indent__s;
            padding-bottom: @indent__s;
            height: 40px;
            text-align: center;
            border: none;
            margin-bottom: 7px;
            background-color: #EBEBEB;
            color: #111111;
            text-transform: uppercase;
            &:hover {
                background-color: #111111;
                color: #fff;
                border: none;
            }
            .products-grid &{
                background-color: transparent;
                width: auto;
                height: 40px;
                padding: 0 20px;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                margin: 0;
                span {
                  
                }
               
                &:hover {
                    background-color: transparent;
                    color: #999999;
                }
                &:focus {
                    background-color: transparent;
                    color: #111111;
                }
            }
        }
    }
}

.products-grid {
    .owl-carousel {
        .product-item {
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & ,
            .page-layout-1column &,
            .page-layout-3columns & {
                width: 100%;
            }
        }
    }
}

.price-container {
    .price {
        .lib-font-size(14);
        .products-grid & {
            .lib-font-size(16);
        }
        .products-list & {
            .lib-font-size(20);
        }
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        .lib-font-size(11);
    }

    .weee {
        &:before {
            content: "("attr(data-label) ": ";
        }
        &:after {
            content: ")";
        }
        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ": ";
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;

            &-info {
                display: table-row;
            }
            &-photo {
                width: 1%;
                padding: 0 @indent__l @indent__l 0;
                vertical-align: top;
                display: table-cell;
            }
            &-details {
                vertical-align: top;
                display: table-cell;
            }
        }
    }
    .product-image-wrapper {
        &:extend(.abs-reset-image-wrapper all);
    }
}

}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
   
    .product {
        &-item {
            .products-grid & {
                margin-bottom: 15px;
                div[class^="swatch-opt-"] {
                    display: none;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
            
            
        }

    }
    .products-grid {
        .product-item {
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                &:nth-child(3n+1) {
                    clear: none;
                }
            }
            .page-layout-3columns & {
                &:nth-child(2n+1) {
                    clear: none;
                }
            }
            .page-layout-1column &,
            .page-layout-2columns-left &,
            .page-layout-2columns-right &,
            .page-layout-3columns & {
                width: 100%/2 ;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
       
    }
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {


    .product-item-actions {
        display: block;
        .products-grid & {
            margin: 0;
        }
        .actions-primary + .actions-secondary {
            display: table-cell;
            width: 50%;
            padding-left: 12px;
            .products-grid & {
                display: block;
                width: 86px;
                padding-left: 0;
                float: right;
                &:after,
                &:before {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
            }
            > .action {
                margin-right: 10px;
                .products-grid & {
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .actions-primary { 
            display: table-cell; 
            vertical-align: top;
            .products-grid & {
                display: block;
                float: left;
            }
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            .page-layout-1column & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-3columns & {
                width: 100%/2;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
        
    }
}

//
//
//    Desktop
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
   
    .products-grid {
        .product-item {
            .page-layout-1column & {
                width: 100%/4 ;
                &:nth-child(4n+1) {
                    clear: both;
                }
                &:nth-child(3n+1) {
                    clear: none;
                }
            }
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-3columns & {
                width: 100%/2;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
        
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    

}
