// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            padding-top: 0;
            margin-top: 0px;
            position: relative;
            z-index: 1;
        }
        .toolbar {
            margin-bottom: 20px;
            border-bottom: 1px solid #e9e9e9;
            padding-bottom: 12px;
            .clearfix();

        }
        .products  {
            +.toolbar {
                border-bottom: none;
            }
        }
        .page-main {
            padding-top: 15px;
        }

    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
        margin-bottom: @indent__l;
        text-align: center;

        select {
            .lib-css(background-color, @toolbar-element-background);
            .lib-css(box-shadow, @button__shadow);
            border-radius: 3px;
            .page-products & {
                .lib-css(background-color, #fff);
                .lib-css(box-shadow, none);
                border-radius: 0;
            }
        }

        &-amount {
            display: none;
            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }

        .page-with-filter & {
            &-amount {
                position: static;
            }
        }

        &-products {
            .lib-css(background-color, @toolbar-background);
            .pages {
                display: none;
                .products.wrapper ~ & {
                    display: block;
                }
            }
        }
        .pages {
            margin-bottom: 0;
        }
    }

    .sorter {
        float: right;
        .page-products & {
            
        }
        .products.wrapper ~ .toolbar & {
            display: none;
        }
        .sorter-label {
            font-size: 13px;
            text-transform: uppercase;
        }
        .sorter-options {
            height: 34px;
        }
        &-options {
            margin: 0 @indent__xs 0 7px;
            width: auto;
            font-size: 11px;
        }
        &-action {
            &:before {
                content: "\f176";
                color: #111;
                font-size: 14px;
                font-family: 'FontAwesome';
            }
            
            .lib-icon-text-hide();
            &.sort-desc:before {
                
            }
        }
    }

    .modes {
        display: none;
    }

    .limiter {
        display: none;
        &-options {
            margin: 0 5px 0 7px;
            width: auto;
            font-size: 11px;
        }
        .label {
            font-size: 13px;
            text-transform: uppercase;
        }
        &-label {
            font-weight: 400;
            
        }
        .limiter-options {
            height: 34px;
        }
        .page-products .toolbar & {
            display: none;
        }
        .control {
            display: inline-block;
        }
        .limiter-text {
            .page-products & {
                display: none;
            }
        }
    }
    .modes {
        margin-left: 76px;
    }
    .limiter,
    .modes {
        display: block;
        .products.wrapper ~ .toolbar & {
           display: none;
        }
    }
}

//
//  Desctop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar-products {
        margin-bottom: 0;
    }
    .modes {
        display: none;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    

    

    .modes {
        
        float: left;
        margin-right: 35px;

        .products.wrapper ~ .toolbar & {
            
        }

        &-label {
            &:extend(.abs-visually-hidden-desktop-s all);
        }

        &-mode {
           
            .lib-css(color, #111111);
            
            float: left;
            font-weight: @font-weight__regular;
            line-height: 30px;
            padding: 0;
            margin-right: 12px;
            text-align: center;
            width: 34px;
            line-height: 34px;
            background-color: #e9e9e9;
            .modes-label + & {
                margin-right: 15px;
            }
            &:hover {
                .lib-css(color, #fff);
                background-color: #111111;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background-color: #111111;
                color: #fff;
               &:before {
                    color: #fff;
               }
                
            }

            .lib-icon-font(
                @_icon-font-content: "\f009",
                @_icon-font: "FontAwesome",    
               
                @_icon-font-size: 16px,
                @_icon-font-text-hide: true,
                @_icon-font-color: #111,
                @_icon-font-color-hover: #fff
            );
        }
    }

    .sorter {
        .page-products & {
            position: static;
        }
    }

    .mode-list {
        &:before {
            content: "\f00b";
        }
    }

    .limiter {
        float: right;
        .products.wrapper ~ .toolbar & {
           
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .toolbar {
        &-amount {
            display: block;
            float: right;
            position: static;
            line-height: 36px;
            font-size: 14px;
            padding: 0;
        }
        .products.wrapper ~ & .pages {
            float: left;
            margin-bottom: 0;
        }
    }
    .page-products {
        .columns {
            padding-top: 117px;
            position: relative;
            z-index: 1;
            .page-layout-1column&{
                padding-top: 0;
            }
        }
        .toolbar {
            margin-bottom: 60px;
            border-bottom: 1px solid #e9e9e9;
            position: absolute;
            top: 12px;
            left: 0;
            right: 0;
            .page-layout-1column&{
                
            }
        }
        .products {
            +.toolbar {
                position: static;
            }
        }
        .page-main {
            padding-top: 20px;
        }
        
    }
    .limiter {
        .page-products .toolbar & {
            display: block;
            float: left;
            margin-right: 15px;
            margin-bottom: 12px;
        }
    }
    .pages {
        .page-products .toolbar-products & {
            display: none;
            float: right;
            margin-bottom: 7px;
        }
        .page-products .products.wrapper ~ .toolbar & {
            float: none;
            display: block;
            border-top: 1px solid #f2f2f2;
            padding-top: 20px;
        }
    }
    .sorter,
    .toolbar-amount,
    .limiter,
    .modes {
        .page-products .products.wrapper ~ .toolbar & {
            display: none;
        }
    }
    .modes {
        margin-left: 0px;
    }
    .products.wrapper {
        +.toolbar {
            border-bottom: none;
            padding-top: 10px;
        }
    }
    .sorter {
        .products.wrapper ~ .toolbar & {
            display: block;
        }
        .page-products .toolbar-products & {
            float: left;
            margin-right: 35px;
            margin-bottom: 12px;
        }
    }
    .toolbar-amount {
        .toolbar-products & {
            display: block;
        }
    }
    .products {
        + .toolbar {
            margin-bottom: 75px;
        }
    }
    
}