<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */
?>
<?php
/** @var \Magenest\Blog\Block\Post\Widget\BlogPostsWidget $block */
$_postCollection = $block->getPostCollection();
?>


<?php if ($_postCollection->count()): ?>
<div class="block-blog">
	<div class="container">
		<div class="block-title">
		    <?php echo $block->getTitle()?>
		</div>
	    <div class="list-blog">
	        <ol class="post-list">
	            <?php foreach ($_postCollection as $_post): ?>
	                <?php echo $block->getPostHtml($_post);
	                ?>
	            <?php endforeach; ?>
	        </ol>
	    </div>
	</div>
</div>
<?php endif; ?>
