<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface'); ?>

<div class="customer-welcome" id="switcher-user">

    <div class="actions dropdown options switcher-options">
        <div class="customer-name" id="switcher-user-trigger">
                <i class="fa fa-user"></i>
                <span>
                <a class="authentication-popup" href="javascript:void(0)">Sign in</a> or <a class="authentication-popup" href="javascript:void(0)">Join</a>
            </span>
        </div>
        <?php if($block->getChildHtml()):?>
        <div class="dropdown switcher-dropdown customer-menu" data-mage-init='{"dropdownDialog":{
            "appendTo":"#switcher-user > .options",
            "triggerTarget":"#switcher-user-trigger",
            "closeOnMouseLeave": false,
            "triggerClass":"active, authentication-popup",
            "parentClass":"active",
            "buttons":null}}'>
            <?php echo $block->getChildHtml();?>
        </div>
        <?php endif; ?>
    </div>
</div>