<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */?>
<?php
/**
 * Blog post info template
 *
 * @var $block \Magenest\Blog\Block\Post\Info
 */
?>

<?php $_post = $block->getPost() ?>

<div class="post-info clear">
    <div class="post-posed-date">
        <span class="label"><?php echo __('Posted:') ?></span>
        <span class="value"><?php echo $block->getPostedOn('F d, Y') ?></span>
    </div>
    <div class="post-athur">
        <span class="value"><?php echo $_post->getUser() ?></span>
    </div>
    <?php if ($_categoriesCount = $_post->getCategoriesCount()) { ?>
    
        <div class="post-categories">
            <span class="label"><?php echo __('Categories:') ?></span>
            <?php $n = 0; foreach($_post->getParentCategories() as $ct) { $n++; ?>
                <a title="<?php echo $block->escapeHtml($ct->getTitle()) ?>" href="<?php echo $ct->getCategoryUrl() ?>"><?php echo $block->escapeHtml($ct->getTitle()) ?></a>
                <?php if ($n != $_categoriesCount) { ?>, <?php } ?>
            <?php } ?>
        </div>
    <?php } ?>
</div>