<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Magenest\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postNameStripped = $block->stripTags($_post->getTitle(), null, true);
?>
<div class="post-view">
    <div class="post-holder post-holder-<?php echo $_post->getId() ?>">
        

        <div class="post-item post-header clearfix">
            <div class="post-thumb">
                <img src="<?php echo $block->getImageUrl($_post->getImageContent())?>"/>
            </div>
            <!-- <div class=" post-posed-date">
                <span class="label"><?php echo __('Posted:') ?></span>
                <span class="value"><?php echo date('F d, Y', strtotime($_post->getData('publish_time'))) ?></span>
                
            </div> -->
            <?php echo $this->getInfoHtml() ?>
            <div class="post-title-holder clearfix">
                <h2 class="post-title">
                    
                    <?php echo $_postNameStripped; ?>
                </h2>
            </div>
            <div class="post-content">
                <div class="post-description">
                    <?php echo $block->getContent() ?>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="post-more clearfix">

                <div class="post-tag">
                    <div class="tags-title">Tags: </div>
                    <?php $tags = $block->getTags();
                        foreach ($tags as $tag):?>
                            <?php if (!empty($tag)):?>
                                <a class="blog-tags" href="<?php echo $block->getTagsUrl($tag)?>"><?php echo __($tag) ?></a>
                            <?php endif;?>
                    <?php endforeach;?>
                </div>
                <div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_postUrl ?>">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_compact"></a>
                </div>
            </div>
        </div>
        <div class="post-bottom">
            <?php echo $this->getChildHtml('blog.post.bottom') ?>
        </div>
    </div>
</div>