// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-wishlist-search {
        .form-wishlist-search {
            margin: @form-field__vertical-indent 0 0;
        }
    }
}
