<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 *
 * Magenest_Blog extension
 * NOTICE OF LICENSE
 *
 * @category  Magenest
 * @package   Magenest_Blog
 * @author <ThaoPV>-thaopw@gmail.com
 */?>
<?php
/**
 * Blog post list item template
 *
 * @var \Magenest\Blog\Block\Post\AbstractPost $block
 */
?>
<?php
/** @var \Magenest\Blog\Model\Post $_post */
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<li class="post-holder post-holder-<?php echo $_post->getId() ?>">
    <div class="post-item">
        <div class="post-thumb">
            <a href="<?php echo $_postUrl ?>" class="img"><img src="<?php echo $block->getImageUrl($_post->getImageContent())?>"/></a>
            
        </div>
        <div class="post-deatil">
            
        
            <div class="post-title-holder clearfix">
                <h2 class="post-title">
                    <a class="post-item-link" href="<?php echo $_postUrl ?>">
                       
                        <?php  /* @escapeNotVerified */ echo $block->escapeHtml(substr($_postName, 0, 40));?>
                        <?php
                            if (strlen($_postName) > 40){
                                echo '...';
                            }
                        ?>
                    </a>
                </h2>
            </div>
            <?php /* @escapeNotVerified */ echo $this->getInfoHtml() ?>
            <div class="post-content">
                <div class="post-description clearfix">
                    <?php  /* @escapeNotVerified */ echo $block->escapeHtml(substr($block->getShorContent(), 0, 180));?>
                    <?php
                        if (strlen($block->getShorContent()) > 180){
                            echo '...';
                        }
                    ?>
                </div>
            </div>
            <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
                   >
               <?php /* @escapeNotVerified */ echo __('Read more &#187;') ?>
            </a>
        </div>
    </div>
</li>