// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________
@breadcrumbs__container-margin: 0 0 15px;

@breadcrumbs__font-size: 12px;
@breadcrumbs-current__color: #111;
@breadcrumbs-current__background: transparent; 

@breadcrumbs-icon__font-content: "\f178";
@breadcrumbs-icon__font: "FontAwesome";
@breadcrumbs-icon__font-size: 12px;
@breadcrumbs-icon__font-color:  #111;
@breadcrumbs-icon__font-line-height: 22px;
@breadcrumbs-icon__font-margin: 0 10px;

@breadcrumbs-link__color: #111;
@breadcrumbs-link__hover__color: #111;
@breadcrumbs-link__hover__text-decoration: none;
//
& when (@media-common = true) {
    .breadcrumbs {
        background-color: #F3F3F3;
        padding: 10px 0;
        .lib-breadcrumbs(
        		
    	);
        a {
           
        }
        .items {
             > li {
                margin: 0;
                vertical-align: middle;
            }
        }
        .item {
           
            a {
                color: #999;
                &:hover {
                    color: #111;
                }
            }
            &:after {
                vertical-align: middle;
            }
            &:not(:last-child) {
                &:after {
                    vertical-align: middle;
                }
           }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        display: none;
    }
}
