// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------


//
& when (@media-common = true) {

//
//    Using buttons mixins
//--------------------------------------
button,
a.action.primary {
    .lib-css(border-radius, @button__border-radius);
}

button {
    &:not(.primary) {
        .lib-css(box-shadow, @button__shadow);
        &:active {
            .lib-css(box-shadow, @button__shadow-active);
        }
    }
}

body {
    &:not(._keyfocus) {
        button {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

a.action.primary {
    .lib-link-as-button();
}

.action.primary {
    .lib-button-primary(
    );
}

}
