// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Extend fallback
//  _____________________________________________

//  Magento extend fallback handling. Should be EMPTY.


& when (@media-common = true) {
.row {
	margin: 0 -15px;
	box-sizing: border-box;
	.clearfix();
}
.col-md-4 {
	float: left;
	width: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
}
.block-dt {
	.owl-item {
		
		text-align: center;
	}
}
.block-slide-home {
	.owl-slide {
		.slide-style {

		}
	}
}

.owl-slide {
	.item-slide {
		position: relative;
	}
	img {
		width: 100%;
	}
	.caption {
		position: absolute;
		top: 10px;
		left: 15px;
		font-family: 'Raleway';
	}
	.title {
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		display: block;
		line-height: 1.1;
	}
	.detail {
		
		display: none;
	}
	.btn {
		
		line-height: 30px;
		background-color: #fff;
		color: #111111;
		font-size: 11px;
		text-transform: uppercase;
		padding: 0;
		text-align: center;
		display: block;
		padding: 0 12px;
		&:hover {
			background-color: #111;
			color: #fff;
			transition: all 0.3s;
		}
	}
}


.block-banner-home {
	overflow: hidden;
	font-family: 'Raleway';
	font-weight: 300;
	color: #333;
	padding: 15px;
	margin-bottom: 0px;
	.container {
		width: 100%;
	} 
	.block-banner {
		float: left;
		display: block;
		position: relative;
		width: calc(~"(100% - 31px)/"3);
		margin-left: 15px;
		margin-bottom: 25px;
		color: #333;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 0px solid rgba(255, 255, 255, 0.5);
			opacity: 0;
			.transition(0.3s);
			box-sizing: border-box;
		}
		&:first-child {
			margin-left: 0;
		} 
		img {
			width: 100%;
			display: block;
			.transition(0.3s ease);
		}
		strong {
			text-transform: uppercase;
			font-weight: 400;
			display: block;
		}
		.content {
			position: absolute;
		}
		
		&:hover {
			&:before {
				opacity: 1;
				border: 15px solid rgba(255, 255, 255, 0.5);
				visibility: visible;
				.transition(0.3s);
			}
			
		}
		&.block-banner3 ,
		&.block-banner4 {
			float: right;
			
		}
		&.block-banner1 {
			font-size: 34px;
			font-weight: 100;
			text-align: center;
			.content {
				top: 72px;
				left: 10px;
				right: 10px;
			}
			strong {
				font-size: 74px;
				font-weight: 200;
			}
		}
		&.block-banner2 {
			font-size: 24px;
			font-weight: 200;
			text-align: right;
			.content {
				top: 60px;
				left: 10px;
				right: 53px;
			}
			strong {
				font-size: 32px;
				font-weight: 300;
			}
			
		}
		&.block-banner4 {
			font-size: 30px;
			font-weight: 200;
			.content {
				top: 60px;
				left: 10px;
				right: 10px;
				text-align: left;
			}
			strong {
				
				font-size: 46px;
				font-weight: 300;
			}
		}
		&.block-banner3 {
			font-size: 40px;
			font-weight: 300;
			.content {
				top: 35px;
				left: 10px;
				right: 13px;
				text-align: center;
			}
			strong {
				
				font-size: 78px;
				font-weight: 200;
			}
		}
	}
}

// slide style

.block-banner-sale {
	margin-bottom: 30px;
}
.owl-buttons {
	.slide-style & {
		display: none;
	}
}
.new-arrival {
	margin-bottom: 145px;
	
}

.block-sales {
	margin-bottom: 115px;
	
}

.block-new-products ,
.block-sales-products {
	margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
	.block-title {
		text-align: center;
		margin-bottom: 30px;
		strong {
			font-size: 24px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
	.products-grid {
		.new-arrival & {
		}
	}
	.products-grid{
		.product-item {
			width: 100%;
			
		}
		.product-items  {
			margin: 0;
		}
	}
} 

.block {
	.related&,
	.upsell&{
		margin-bottom: 20px;
		.title {
			text-align: center;
			margin-bottom: 20px;
			margin-top: 20px;
			line-height: 1;
			padding-top: 20px;
			border-top: none;
			strong {
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 0;
				line-height: 1;
			}
		}
	}
	.block-actions {
		display: block;
		margin-bottom: 15px;
	}
	.upsell&{
		.title{
			strong {
				font-size: 24px;
			}
		}
	}
}
//
// blog
//  _____________________________________________
	.post {
		&-list {
			padding: 0;
			margin: 0;
		}
		&-holder {
			margin-bottom: 50px;
			list-style: none;
		}
		&-holder &{
			&-thumb {
				margin-bottom: 15px;
				img {
					width: 100%;
				}
				.post-read-more {
					display: none;
					.block-blog & {
						
					}
				}
			}
			
			&-title {
				display: block;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 500;
				a {
					&:hover {
						color: #999;
					}
				}
			}
			&-item-link {

			}
			&-share {

			}
			&-description {
				margin-bottom: 15px;
			}
			&-posed-date {
				font-style: italic;
				display: inline-block;
				margin-right: 15px;
				.label {
					display: none;
				}
				.value {
					display: inline-block;
					border-bottom: 1px solid #999;
				}
			}
			&-info {
				display: block;
				margin-bottom: 20px;
			}
			&-athur {
				display: inline-block;
				&:before {
					content: "\f040";
					font-family: "FontAwesome";
					display: inline-block;
					margin-right: 5px;
				}
			}
			&-categories {
				display: none;
			}
			&-read-more {
				.lib-button-primary(
    			);
    			background-color: #ebebeb;
    			border-color: #ebebeb;
    			color: #111;
    			&:hover {
    				background-color: #111;
    				color: #fff;
    				border-color: #111;
    			}
			}
			&-more {
				.clearfix();
				padding: 10px 0;
				border-top: 1px solid #dedede;
				border-bottom: 1px solid #dedede;
				margin-bottom: 15px;
				.post-tag {
					float: left;
					color: #999;
					a {
						color: #999;
					}
					.tags-title {
						margin: 0;
						color: #111;
					}
				}
				.addthis_toolbox {
					float: right;
				}
			}
		}
	}
	.toolbar {
		&-products &{
			&-amount {

			}
			&-pages {
				.blog-index-index & {
					display: block;
				}
			}
		}
		.pages {
			.blog-index-index & {
				display: block;
			}
		}
		.blog-index-index & {
			.modes,
			.toolbar-amount,
			.limiter,
			.toolbar-sorter  {
				display: none;
			}
		}
	}
	.block-categories {
		margin-bottom: 15px;
		.block-title {
			text-transform: uppercase;
			margin-bottom: 15px;
			font-size: 16px;
		}
		li {
			list-style: none;
			margin-bottom: 8px;
			text-transform: capitalize;
			a {
				display: inline-block;
				&:hover {
					color: #999;
				}
			}
		}
		ul {
			padding: 0;
			margin: 0;
		}
	}
	.block-recent-posts,
	.block-tags-posts,
	.block-categories {
		margin-bottom: 15px;
		.block-title {
			text-transform: uppercase;
			margin-bottom: 15px;
			font-size: 16px;
			h3 {
				margin-top: 0;
			}
		}
	}
	.block-recent-posts {
		.item {
			padding: 6px 0;
			text-transform: capitalize;
			a {
				&:hover {
					color: #999;
				}
			}
		}
	}
	.block-tags-posts {
		.tag-sidebar {
			display: inline-block;
			border: 1px solid #999;
			padding: 0px 15px;
			text-transform: capitalize;
			color: #999;
			line-height: 30px;
			white-space: nowrap;
			margin-right: 5px;
			margin-bottom: 10px;
			text-align: center;
			font-size: 13px;
			a {
				color: #999;
			}
			&:hover {
				border-color: #111;
				color: #111;
				a {
					color: #111;
				}
			}
		}
	}
	.page-title-wrapper {
		.blog-post-view &,
		.blog-index-index &,
		.blog-category-view &{
			display: none;
		}
	}
	.columns {
		.blog-post-view &,
		.blog-index-index &,
		.blog-category-view &{
			padding-top: 30px;
		}
	}
	//
	// about us
	//  _____________________________________________
	.block-page-about-us {

	}
	.our-story {
		margin-bottom: 55px;
		.clearfix();
		.img {
			float: left;
			width: 40%;
			margin-right: 30px;
			margin-bottom: 15px;
		}
		.caption {
			
			font-size: 14px;
			font-weight: 300;
		
			.title {
				font-size: 30px;
				font-weight: 300;
				display: block;
				margin: 0 0 25px ;
			}
		}
	}
	.the-team {
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		.title {
			font-size: 30px;
			font-weight: 300;
			display: block;
			margin: 0 0 12px ;
		}
		ul {
			.clearfix();
			margin: 0 -15px;
			padding: 40px 0 0;
		}
		li {
			list-style: none;
			width: 100%;
			float: left;
			
		}
		.item {
			padding: 0 15px 15px;

		}
		img {
				width: 100%;
				display: block;
			}
		.caption {
			border: 1px solid #ccc;
			border-top: none;
			padding: 8px 10px 10px;
		}
		.name {
			font-size: 16px;
			font-weight: 400;
			display: block;
			margin-bottom: 8px;
		}
		.team {
			color: #999999;
			margin-bottom: 30px;
			display: block;
		}
		.link-social {
			font-size: 20px;
			a {
				display: inline-block;
				margin: 0 5px;
			}
		}
	}
	.block-banner-home2 {
		margin-bottom: 80px;
		.clearfix();
		.block-banner {
			float: left;
			width: 50%;
			display: block;
			position: relative;
			img {
				width: 100%;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border: 0px solid rgba(255, 255, 255, 0.5);
				opacity: 0;
				.transition(0.3s);
				box-sizing: border-box;
			}

			&:hover {
				&:before {
					opacity: 1;
					border: 15px solid rgba(255, 255, 255, 0.5);
					visibility: visible;
					.transition(0.3s);
				}
				
			}
		}
	}
	.block-teams {
		margin-bottom: 40px;
	}
}
//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.the-team {
		li {
			width: 100% !important;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.owl-slide {
		.item-slide {
			position: relative;
		
			img {
				width: 100%;
			}
			.caption {
				position: absolute;
				top: 10px;
				left: 15px;
				font-family: 'Raleway';
			}
			.title {
				font-size: 20px;
				font-weight: 300;
				text-transform: uppercase;
				display: block;
				line-height: 1.1;
			}
			.detail {
				
				display: none;
			}
			.btn {
				width: auto;
				line-height: 30px;
				background-color: #fff;
				color: #111111;
				font-size: 11px;
				text-transform: uppercase;
				padding: 0;
				text-align: center;
				display: block;
				padding: 0 12px;
				&:hover {
					background-color: #111;
					color: #fff;
					transition: all 0.3s;
				}
			}
		}
	}
	.the-team {
		li {
			width: 50% ;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
   	.block-banner-home {
   		padding: 15px 0;
   		.block-banner {
   			&.block-banner1,
   			&.block-banner2,
   			&.block-banner3,
   			&.block-banner4 {
   				margin-bottom: 10px;
   			}
   			&.block-banner1 {
   				width: 31%;
   			}
   			&.block-banner2 {
   				width: 67%;
   				float: right;
   				margin-left: 0;
   			}
   			&.block-banner3 {
   				clear: both;
   				float: right;
   				margin-left: 0;
   				width: 31%;
   			}
   			&.block-banner4 {
   				width: 67%;
   				margin-left: 0;
   				float: left;
   			}
   		}
   	}
   	
   	.owl-slide {
		.item-slide {
			position: relative;
		}
		img {
			width: 100%;
		}
		.caption {
			position: absolute;
			top: 30px;
			left: 120px;
			font-family: 'Raleway';
		}
		.title {
			font-size: 45px;
			font-weight: 300;
			text-transform: uppercase;
			display: block;
			line-height: 1.1;
		}
		.detail {
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 57px;
			display: block;
			letter-spacing: 9px;
			text-transform: uppercase;
		}
		.btn {
			width: 144px;
			line-height: 40px;
			background-color: #fff;
			color: #111111;
			font-size: 11px;
			text-transform: uppercase;
			padding: 0;
			text-align: center;
			display: block;
			&:hover {
				background-color: #111;
				color: #fff;
				transition: all 0.3s;
			}
		}
	}
	.the-team {
		li {
			width: 50% ;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}

	.products-grid {
		.product-item {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.block {
	.related&,
	.upsell&{
		.title {
			margin-bottom: 10px;
			margin-top: 0px;
			line-height: 1.3;
			strong {
				font-size: 18px;
				line-height: 1.3;
			}
		}
	}

	.upsell&{
		.title{
			strong {
				font-size: 14px;
			}
		}
	}
}
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.owl-slide {
		.item-slide {
			position: relative;
		}
		img {
			width: 100%;
		}
		.caption {
			position: absolute;
			top: 100px;
			left: 300px;
			font-family: 'Raleway';
		}
		.title {
			font-size: 75px;
			font-weight: 300;
			text-transform: uppercase;
			display: block;
			line-height: 1.1;
		}
		.detail {
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 57px;
			display: block;
			letter-spacing: 9px;
			text-transform: uppercase;
		}
		.btn {
			width: 144px;
			line-height: 40px;
			background-color: #fff;
			color: #111111;
			font-size: 11px;
			text-transform: uppercase;
			padding: 0;
			text-align: center;
			display: block;
			&:hover {
				background-color: #111;
				color: #fff;
				transition: all 0.3s;
			}
		}
	}
	.the-team {
		li {
			width: 25%;
		}
	}
	.block-new-products ,
	.block-sales-products {
		.block-title {
			margin-bottom: 70px;
			strong {
				font-size: 36px;
			}
		}
	}
	.block-banner-sale {
		margin-bottom: 105px;
	}
	.block-banner-home {
		margin-bottom: 74px;
	}
	.block {
		.related&,
		.upsell&{
			margin-bottom: 40px;
			.title {
				margin-bottom: 40px;
				margin-top: 20px;
				padding-top: 15px;
				strong {
					font-size: 30px;
				}
			}
		}

		.upsell&{
			.title{
				strong {
					font-size: 24px;
				}
			}
		}
	}
}


//
//  HOme page 3
//  _____________________________________________
& when (@media-common = true) {
	.owl-slide-style2 {
		overflow: hidden;
		img {
			display: block;
			width: 100%;
		}
		.owl-controls {
			
		}
		.owl-pagination {
			width: 100%;
			left: 50%;
			margin-left: -40px;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			text-align: center;
			z-index: 10;
			.rotate(90deg);
			.owl-page {
				width: 12px;
				height: 12px;
				background-color: #fff;
				display: inline-block;
				border-radius: 100%;
				margin: 6px;
				vertical-align: top;
				&.active {
					background-color: #111111;
				}
			}
		}
	}
	.owl-slide-style3 {
		overflow: hidden;
		img {
			display: block;
			width: 100%;
		}
		.owl-controls {
			
		}
		.owl-pagination {
			position: absolute;
			text-align: center;
			left: 0;
			right: 0;
			bottom: 20px;
			.owl-page {
				width: 12px;
				height: 12px;
				background-color: #fff;
				display: inline-block;
				border-radius: 100%;
				margin: 6px;
				vertical-align: top;
				&.active {
					background-color: #111111;
				}
			}
		}
		.owl-item {
			position: relative;
			a {
				&:before {
					content: "";
					background-color: rgba(0, 0, 0, 0.1);
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
	}
	.block-slide-home3,
	.block-slide-style1 {
		margin-bottom: 0;
		.owl-prev,
		.owl-next {
			width: 62px;
			
			line-height: 62px;
			background-color: #111111;
			border-radius: 0px;
			position: absolute;
			top: 50%;
			margin-top: -31px;
			text-align: center;
			font-size: 24px;
			color: #fff;
			&:before {
				content: "";
				font-family: "FontAwesome";
			}
			&:hover {
				background-color: #999;
			}
		}
		img {
			width: 100%;
			display: block;
		}
		.owl-prev {
			left: 0px;
			&:before {
				content: '\f104';
			}
			
		}
		.owl-next {
			right: 0px;
			&:before {
				content: "\f105";
			}
			
		}
	}

	.block-image-style3 {
		position: relative;
		margin-bottom: 90px;
		img {
			display: block;
			width: 100%;
			.transition(0.3s);
			
		}
		.detail {
			background-color: #fff;
			width: 420px;
			height: 240px;
			position: absolute;
			top: 50%;
			margin-top: -120px;
			left: 50%;
			margin-left: -210px;
			font-size: 14px;
			color: #999999;
			text-align: center;
			padding: 10px 35px;
			box-sizing: border-box;
			display: table;
			box-shadow: 0 2px 20px 0  rgba(0, 0, 0, 0.1);
			.title {
				font-family: "Raleway";
				display: block;
				text-align: center;
				font-size: 30px;
				text-transform: uppercase;
				color: #111111;
				margin-bottom: 5px;
			}
			.action.primary {
				margin-top: 15px;
			}
			.box {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&:hover {
			img {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				.transition(0.3s);
			}
		}
	}
	.block-banner-home3 {
		margin-bottom: 90px;
		.block-title {
			text-align: center;
			margin-bottom: 55px;
			font-style: italic;
			color: #999;
			.title {
				text-transform: uppercase;
				font-size: 36px;
				font-weight: 300;
				margin-bottom: 20px;
				font-style: normal;
				color: #111;
				display: block;
			}
		}
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			display: block;
			
		}
		.item {
			&-image,
			&-text {
				box-sizing: border-box;
				float: left;
				display: block;
			}
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
			&-image {
				width: 60%;
				img {
					width: 100%;
					display: block;
				}
			}
			&-text {
				width: 40%;
				padding-left: 45px;
				padding-right: 15px;
				padding-top: 80px;
				padding-bottom: 15px;
				.title {
					text-transform: uppercase;
					font-size: 30px;
					margin-bottom: 25px;
					text-decoration: none;
					font-weight: bold;
					letter-spacing: 5px;
					color: #999;
					display: block;
				}
				a {
					text-transform: uppercase;
					text-decoration: underline;
					&:hover {
						color: #999;
					}
				}
			}
		}
		li {
			&:nth-child(2n) {
				.item {
					&-image {
						float: right;
					}
					&-text {
						padding-left: 15px;
						padding-right: 45px;
						text-align: right;
					}
				}
			}
		}
	}
	.block-image-style4 {
		.clearfix();
		margin-top: 30px;
		margin-bottom: 80px;
		.container {
			padding: 0;
		}
		.image-colum {
			width: 100%/3;
			padding: 0 15px;
			float: left;
			box-sizing: border-box;
			position: relative;
			img {
				display: block;
				width: 100%;
				.transition(0.3s);
			}
			&:hover {
				img {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
					.transition(0.3s);
				}
			}
		}
		.actions {
			position: absolute;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			left: 15px;
			right: 15px;
			text-align: center;
			padding: 0 15px;
		}
		.action {
			text-transform: uppercase;
			font-size: 11px;
			line-height: 1.2;
			padding: 20 25px;
			background-color: #fff;
			color: #111;
			display: inline-block;
			font-family: "Raleway";
			padding: 14px 20px;
			.transition(0.3s);
			&:hover{
				background-color: #111;
				color: #fff;
				.transition(0.3s);
			}

		}
	}
	.block-banner-text {
		text-align: center;
		padding: 190px  0 80px;
		min-height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		box-sizing: border-box;
		color: #fff;
		line-height: 35px;
		margin-bottom: 90px;
		position: relative;
		&:before {
			content: "";
			display: block;
			background-color: rgba(0, 0, 0, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
		.container {
			position: relative;
			z-index: 10;
			max-width: 980px;

		}
	}
	.block-images-style5 {
		.clearfix();
		.image-colum1,
		.image-colum2,
		.image-colum3 {
			float: left;
			img {
				display: block;
				width: 100%;
				/*.transition(0.3s);*/
				&:hover {
					-webkit-filter: grayscale(100%);
    				filter: grayscale(100%);
    				/*.transition(0.3s);*/
				}
			}
		}
		.image-colum1 {
			width: 100%;
		}
		.image-colum2,
		.image-colum3 {
			width: 50%;
		}
	}
	.block-slide-banner {
		.clearfix();
		margin-bottom: 50px;
		.block-slide-style3,
		.block-images-style5 {
			float: left;
			width: 50%;
			box-sizing: border-box;
		}
	}
	.block-new-style1 {
		margin-bottom: 35px;
	}
	.block-sales-style1 {
		margin-bottom: 70px;
		.container {
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
		}
		.column-left,
		.column-right {
			width: 50%;
			box-sizing: border-box;
			float: left;
			
		}
		.column-left {
			padding-right: 15px;
			img {
				width: 100%;
				display: block;
			}
		}
		.column-right {
			padding-left: 15px;
			padding-top: 25px;
		}
		.block-sales-products {
			padding: 0;
			
		}
		.products-grid {
			margin: 0 -15px;
		}
	}
	.block-image-style1 {
		padding: 30px 15px;
		box-sizing: border-box;
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
		img {
			display: block;
			width: 100%;
		}
		.image-colum1,
		.image-colum2,
		.image-colum3,
		.image-colum4 {
			float: left;
			box-sizing: border-box;
			margin-bottom: 30px;
			padding: 0 15px;
			img {
				/*.transition(0.3s);*/
				&:hover {
					-webkit-filter: grayscale(100%);
    				filter: grayscale(100%);
    				/*.transition(0.3s);*/
				}
			}
		}
		.image-colum1 {
			width: 34.08%;
			
		}
		.image-colum2 {
			width: 30.87%;
			
		}
		.image-colum3 ,
		.image-colum4{
			width: 35.05%;
		}
	}
	.block-new-style1,
	.block-sales-style1 {
		.block-new-products,
		.block-sales-products {
			.block-title {
				margin-bottom: 48px;
			} 
		}
		.owl-prev,
		.owl-next {
			width: 20px;
			
			line-height: 20px;
			background-color: transparent;
			border-radius: 0px;
			position: absolute;
			top: 0;
			margin-top: -40px;
			text-align: center;
			font-size: 18px;
			color: #1111;
			&:before {
				content: "";
				font-family: "FontAwesome";
			}
			&:hover {
				background-color: transparent;
				color: #999;
			}
		}
		
		.owl-prev {
			left: 50%;
			margin-left: -35px;
			&:before {
				content: '\f104';
			}
			&:after {
				content: "";
				height: 20px;
				width: 1px;
				background-color: #111;
				position: absolute;
				top: 0;
				right: -15px;
			}
			
		}
		.owl-next {
			right: 50%;
			margin-right: -35px;
			&:before {
				content: "\f105";
			}
			
		}
	}
	.block-brand-client {
		margin-bottom: 0;
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
		.block-brand-style1,
		.block-client-style1 {
			float: left;
			width: 50%;
			padding-top: 60px;
			box-sizing: border-box;
			.block-title {
				font-size: 30px;
				text-transform: uppercase;
				font-family: 'Raleway';
				margin-bottom: 27px;
				text-align: center;
				position: relative;
				z-index: 10;
			}
		}
		.block-brand-style1 {
			padding-left: 30px;
			padding-right: 30px;
			
			.item {
				padding: 0 25px;
				img {
					border: 1px solid #d8d8d8;
					margin-bottom: 50px;
					display: block;
				}
			}
		}
		.block-client-style1 {
			min-height: 400px;
			color: #fff;
			padding-left: 70px;
			padding-right: 70px;
			padding-bottom: 50px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/theme/bg-client.jpg);
			text-align: center;
			position: relative;
			&:before {
				content: "";
				background-color: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
			}
			.owl-client-style1 {
				position: relative;
				z-index: 10;
			}
			.owl-pagination {
				position: absolute;
				bottom: -33px;
				left: 0;
				right: 0;
				text-align: center;
			}
			.owl-page {
				width: 10px;
				height: 10px;
				border: 1px solid #fff;
				border-radius: 100%;
				display: inline-block;
				vertical-align: top;
				margin: 0 9px;
				&.active {
					background-color: #fff;
				}
			}
		}
	}
	.block-brand-style3 {
		margin-top: 70px;
		.owl-brand-style2 {
			border-top: 1px solid #f2f2f2;
			border-bottom: 1px solid #f2f2f2;
			padding: 25px 0;
		}
	}
	.block-brand-style4 {
		margin-bottom: 100px;
		.owl-brand-style2 {
			border-top: 1px solid #f2f2f2;
			border-bottom: 1px solid #f2f2f2;
			padding: 25px 0;
		}
	}
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	
	.block-banner-text,
	.block-banner-home3,
	.block-new-products,
	.block-sales-style1{
		margin-bottom: 20px;
	}
	.block-slide-home3,
	.block-slide-style1,
	.block-new-style1,
	.block-sales-style1 {
		margin-bottom: 0;
	}
	.block-slide-style1 {
		.owl-slide-style1{
			.item-slide{
				width: 100%;
				height: 500px;
				overflow: hidden;
				position: relative;
				> img{
					height: 100%;
					min-width: 100%;
					width: auto;
					max-width: none;
					position: absolute;
					left: 50%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
				}
			}
		}
	}
	.block-banner-home3 {
		
		.block-title {
			margin-bottom: 10px;
			.title {
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
		.item-text {
			padding-top: 10px;
			padding-left: 15px;
			.title {
				font-size: 24px;
				margin-bottom: 15px;
			}
		}
		.item-text,
		.item-image {
			width: 50%;
		}
		li {
			&:nth-child(2n) {
				.item {
					&-text {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
		}
	}

	.block-banner-text {
		padding-top: 40px;
		padding-bottom: 30px;
		min-height: 300px;
		line-height: 1.5;
	}
	.block-brand-client {
		.block-brand-style1 {
			.item {
				padding: 0 5px;
			}
		}
	}
	.block-sales-style1 {
		.column-right {
			padding-right: 15px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.block-image-style1 {
		padding-left: 0;
		padding-right: 0;
		.image-colum1,
		.image-colum2,
		.image-colum3,
		.image-colum4 {
			width: 50%;
		}
	}
	.block-brand-client {
		.block-brand-style1,
		.block-client-style1 {
			float: none;
			width: 100%;
		}
		.block-client-style1 {
			min-height: 300px;
			padding-top: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.block-brand-style1 {
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			img {
				margin-bottom: 10px !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.block-image-style1 {
		.image-colum1,
		.image-colum2 {
			width: 100% !important;
		}
		.image-colum3,
		.image-colum4 {
			width: 100% !important;
		}
	}
	.block-sales-style1 {
		.column-left {
			display: none;
		}
		.column-right {
			width: 100%;
			float: none;
		}
	}
	.block-slide-home3,
	.block-slide-style1 {
		.owl-prev, 
		.owl-next {
			width: 30px;
			line-height: 30px;
			margin-top: -15px;
		}
	}
	.block-banner-home3 {
		.item-text {
			padding-left: 0;
			width: 100% !important;
			float: none;
			text-align: left;
			.title {
				font-size: 18px !important;

			}
		}
		
		.item-image {
			width: 100% !important;
			margin-bottom: 4px;
			float: none;
		}
		li {
			&:nth-child(2n) {
				.item {
					&-text {
						padding-left: 0;
						padding-right: 0;
					}
				}
				.item-image {
					margin-left: 0;
				}
			}
		}
	}
	.block-slide-banner {
		.block-slide-style3,
		.block-images-style5 {
			width: 100%;
		}
	}
}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.block-slide-home2 {
		.owl-prev {
			left: 50px;
		}
		.owl-next {
			right: 50px;
		}
	}
	.block-banner-home3 {
		.item-text {
			padding-top: 35px;
			padding-left: 30px;
		}
		li {
			&:nth-child(2n) {
				.item {
					&-text {
						padding-left: 15px;
						padding-right: 30px;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.block-banner-home3 {
		.item-text {
			padding-top: 80px;
		}

	}
}

// Home 5
& when (@media-common = true) {
	.block-image-style1-home5,
	.block-image-style2 {
		margin-bottom: 50px;
		.clearfix();
		.image-colum1,
		.image-colum2,
		.image-colum3,
		.image-colum4 {
			float: left;
			display: block;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(17, 17, 17, 0.1);
				z-index: 5;
			}
		}
		.image-colum1 {
			width: 50%;
		}
		.image-colum2 {
			width: 50%;
		}
		.image-colum3 {
			width: 25%;
		}
		.image-colum4 {
			width: 25%;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	.block-sales-home5,
	.block-sales-style2 {
		.block-new-products .block-title,
		.block-sales-products .block-title {
		 	margin-bottom: 27px;
		 	strong {
		 		font-size: 30px;
		 		font-weight: 500;
		 	}
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			margin-top: -85px;
			font-size: 40px;
			line-height: 50px;
		}

		.owl-prev {
			left: -30px;
		}
		.owl-next {
			right: -30px;
		}
		
	}
	.banner-sale-home5 {
		margin-bottom: 57px;
		padding-top: 34px;
		img {
			width: 100%;
			display: block;
		}
	}
	.banner-sale-style2 {
		margin-bottom: 57px;
		padding-top: 34px;
		img {
			width: 100%;
			display: block;
		}
	}
	.tab-new-category {
		.block-title {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 500;
			font-family: 'Raleway';
			margin-bottom: 30px;
			display: block;
			text-align: center;
			padding-top: 15px;
		}
		.nav-tabs {
			text-align: center;
			.tab-title {
				display: inline-block;
				font-size: 14px;
				font-weight: 500;
				font-family: 'Raleway';
				margin-bottom: 30px;
				margin-right: 38px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					color: #111111;
					text-transform: uppercase;
				}
				&.active {
					a {
						border-bottom: 1px solid #111;
					}
				}
			}
		}
		.tab-content {

		}
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			margin-top: -85px;
			font-size: 40px;
			line-height: 50px;
		}

		.owl-prev {
			left: -30px;
		}
		.owl-next {
			right: -30px;
		}
	}
	.block-blog {
		
		padding: 54px 0 70px;
		margin-top: 70px;
		margin-top: 0;
		.block-blog-style2 & {
			background-color: #f5f5f5;
		}
		.block-title {
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 500;
			font-family: 'Raleway';
			display: block;
			text-align: center;
			margin-bottom: 25px;
		}
		.list-blog {
			margin: 0 -15px;
		}
		.post-holder {
			padding: 0 15px;
			margin: 0;
			.post-item {
				background-color: #fff;
				padding: 0 0 20px;
			}
			.post-thumb {
				position: relative;
				img {
					width: 1005;
					display: block;
				}
				.img {
					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(255, 255, 255, 0.5);
						z-index: 4;
						opacity: 0;
						visibility: hidden;
						.transition(0.3s);
					}
					&:after {
						content: "Read More";
						font-family: "Raleway";
						font-size: 11px;
						color: #111111;
						background-color: #fff;
						line-height: 40px;
						width: 125px;
						text-transform: uppercase;
						position: absolute;
						top: 50%;
						margin-top: -20px;
						left: 50%;
						margin-left: -62px;
						text-align: center;
						opacity: 0;
						visibility: hidden;
						.transition(0.3s);
						z-index: 6;
					}
				}
				&:hover {
					.img:before,
					.img:after {
						opacity: 1;
						visibility: visible;
						.transition(0.3s);
					}
					.post-read-more {
						visibility: visible;
					}
				}
				.post-read-more {
					position: absolute;
					top: 50%;
					margin-top: -20px;
					left: 50%;
					margin-left: -64px;
					width: 125px;
					line-height: 40px;
					text-align: center;
					background-color: #fff;
					color: #111;
					text-transform: uppercase;
					font-size: 11px;
					font-family: 'Raleway';
					font-weight: 300;
					padding: 0;
					border: none;
					visibility: hidden;
				}
			}
			.post-info {
				font-size: 14px;
				color: #999999;
				padding: 0 15px;
				margin-bottom: 0;
			}
			.post-posed-date {
				margin-right: 20px;
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 10px;
				text-decoration: none;
				font-style: normal;
				border-bottom: none;
				.value {
					text-decoration: none;
					border-bottom: none;
					&:before {
						content: "\f017";
						font-family: 'FontAwesome';
						margin-right: 5px; 
					}
				}
			}
			.post-athur {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 10px;
				&:before {
					content: "\f044";
				}
			}
			.post-title {
				font-size: 18px;
				font-weight: 400;
				color: #111;
				text-transform: uppercase;
				margin: 0 0 15px;
				padding: 0 15px;
			}
			.post-description {
				padding: 0 15px;
				font-size: 14px;
				color: #646363;
			}
			.post-read-more {
				display: none;
			}
		}
	}

	.block-column3-features {
		padding-top: 40px;
		.block {
			padding: 0;
			.block-title {
				font-size: 24px;
				text-transform: uppercase;
				font-family: 'Raleway';
				font-weight: 600;
				display: block;
				margin-bottom: 25px;
				margin-top: 12px;
				text-align: left;
				strong {
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
		.products-list {
			.product-item {
				display: block;
				margin-bottom: 30px;
				&:hover {
					.product-item-inner {
						opacity: 1;
						visibility: visible;
						display: block;
						.transition(0.3s);
					}
				}
				.product-item-info {
					display: block;
				}
			}
			.product-items {
				
				* {
					box-sizing: border-box;
				}
				.product-item-info {
					.clearfix();
				}
				.product-item-description {
					display: none;
					visibility: hidden;
				}
				.product-item-photo {
					width: 30%;
					display: block;
					float: left;
					padding: 0;

				}
				.product-item-details {
					float: right;
					width: 70%;
					padding-left: 18px;
					padding-bottom: 0;
				}
				.reviews-actions {
					display: none;
				}
				.product-item-name {
					font-size: 16px;
					overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
				.product-item-inner {
					visibility: hidden;
					opacity: 0;
					display: none;
				}
				.action.tocart {
					height: 40px;
					width: 40px;
					padding: 0;
					color: #111111;
						font-size: 16px;
					&:before {
						content: "\f290";
						font-family: 'FontAwesome';
						
					}
					&:hover {
						color: #fff;
					}
					span {
						display: none;
					}
				}
				.actions-primary,
				.actions-secondary{
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}
	.block-3columns-text {
		background-color: #f9f9f9;
		padding: 70px 0;
		&.block-3columns-text-style2 {
			padding: 0;
			padding-top: 15px;
			margin-bottom: 95px;
		}
		&.block-3columns-text-style1 {
			padding: 30px 0 70px 0;
		}
		.container {
			.clearfix();
		}
		.col {
			float: left;
			width: 33.33%;
			box-sizing: border-box;
			padding: 0 15px;
		}
		.item {
			text-align: center;
			.icon {
				display: block;
				text-align: center;
				margin-bottom: 20px;
				.fa {
					width: 80px;
					line-height: 80px;
					height: 80px;
					display: inline-block;
					background-color: #fff;
					border-radius: 100%;
					border: 1px solid #e9e9e9;
					font-size: 30px;
				}
			}
			.title {
				display: block;
				margin: 0 0 8px;
				text-transform: uppercase;
				font-size: 18px;
				font-family: "Raleway";
				font-weight: 500;
				color: #111111;
			}
			.text {
				color: #8b8b8b;
				font-size: 14px;

			}
		}
	}
	.block-brand-style2 {
		padding: 50px 0 80px;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.block-image-style1-home5,
	.block-image-style2 {
		margin-bottom: 15px;
		.image-colum1 {
			width: 100%;
		}
		.image-colum2 {
			width: 100%;
		}
		.image-colum3 {
			width: 50%;
		}
		.image-colum4 {
			width: 50%;
		}
	}
	.block-slide-banner {
		margin-bottom: 15px;
	}
	.block-3columns-text {
		padding: 30px 0;
		.col {
			width: 100%;
			float: none;
			display: block;
			margin-bottom: 20px;
		}
	}
	.block-image-style4 {
		.image-colum {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.tab-new-category .nav-tabs {
		text-align: center;
	}
	.block-column3-features {
		.col-md-4 {
			width: 100%;
		}
		
	}
	.block-blog {
		padding: 20px 0 20px;
		.block-title {
			font-size: 16px;
		}
	}
	
	.tab-new-category,
	.block-blog,
	.block-sales-home5 .block-new-products,
	.block-sales-home5 .block-sales-products,
	.block-sales-style2 .block-new-products,
	.block-sales-style2 .block-sales-products{
		.block-title {
			font-size: 16px;
			strong {
				font-size: 16px;
			}
		}
	}
	.block-3columns-text {
		&.block-3columns-text-style2 {
			margin-bottom: 0;
		}
	}
	.block-blog {
		padding: 20px 0;
	}
	.block-brand-style4 {
		margin-bottom: 20px;
		
	}
	.block-image-style4 {
		.action {
			font-size: 8px ;
			padding: 7px 9px;
		}
	}
	.block-image-style3 .detail {
		display: none !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.banner-sale-home5 {
		margin-bottom: 20px;
		padding-top: 0;
	}
	.block-sales-home5,
	.block-sales-style2,
	.tab-new-category{
		.owl-next {
			right: 10px;
		}
		.owl-prev {
			left: 10px;
		}
	}
	.block-column3-features {
		.block-title {
			font-size: 14px;
		}
		.products-list {
			.product-items {
				.product-item-name {
					font-size: 13px;
				}
			}

		}
	}
	.block-3columns-text {
		&.block-3columns-text-style2 {
			margin-bottom: 0;
		}
	}
	.block-blog {
		padding: 20px 0;
	}
	.block-brand-style4,
	.block-image-style4,
	.block-image-style3 {
		margin-bottom: 20px;

	}
	.block-brand-style2 {
		padding: 20px 0;
	}
	.block-brand-style3 {
		margin-top: 10px;
	}
}
