// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .message.info {
        .lib-message-icon-inner(info);
    }

    .message.error {
        .lib-message-icon-inner(error);
    }

    .message.warning {
        .lib-message-icon-inner(warning);
    }

    .message.notice {
        .lib-message-icon-inner(notice);
    }

    .message.success {
        .lib-message-icon-inner(success);
    }
}
