// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 20px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 0;
        z-index: 8;
        line-height: 45px;
        width: 30px;
        text-align: center;
    }
    
    .navigation .level0 {
        &:first-child {
            border-top: none;
        }
    }
    .nav-sections .switcher {
        &:first-child {
            border-top: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

@active-nav-indent: 54px;
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .lib-main-navigation();
    .navigation {
        padding: 0;
        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );
                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }
                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
        .level0.active , 
        .level0.has-active {
            > a:not(.ui-state-active) span:not(.ui-menu-icon) {
                margin-left: 0 !important;
            }
        }

    }

    .navigation .submenu:not(:first-child) .level1.active > a ,
    .navigation .submenu:not(:first-child) .active > a{
        padding-left: 15px;
    }
    .nav-sections {
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~"-1 * (100% - @{active-nav-indent})");
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~"100% - @{active-nav-indent}");

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: 700;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;
            .label {
                display: block;
                margin-bottom: @indent__xs;
            }
            &:last-child {
                    border-bottom: 1px solid @color-gray82;
            }
            &-trigger {
                strong {
                    display: inline-block !important;
                    position: relative;
                    .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                    );
                    &:after {
                        position: absolute;
                        right: -40px;
                        top: -18px;
                    }
                }
                &.active strong {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
            &-dropdown {
                .lib-list-reset-styles();
                padding: @indent__s 0;
            }
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;
            li {
                font-size: 1.6rem;
                margin: 0;
                &.greet.welcome {
                    border-top: none;
                    font-weight: 700;
                    padding: .8rem @indent__base;
                }
                > a {
                    border-top: 1px solid @color-gray82;
                }
            }
            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: 700;
                padding: .8rem @indent__base;
            }
            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        width: 100%;
        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~"100% - @{active-nav-indent}");
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0,0,0,.01);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right:0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections {
        &-items {
            .lib-clearfix();
            position: relative;
            z-index: 1;
        }

        &-item-title {
            background: darken(@navigation__background,5%);
            border: solid darken(@navigation__background,10%);
            border-width: 0 0 1px 1px;
            box-sizing: border-box;
            float: left;
            height: 71px;
            padding-top: 24px;
            text-align: center;
            width: 33.33%;
            &.active {
                background: transparent;
                border-bottom: 0;
            }
            .nav-sections-item-switch {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        &-item-content {
            .lib-clearfix();
            box-sizing: border-box;
            float: right;
            margin-left: -100%;
            margin-top: 71px;
            width: 100%;
            &.active {
                display: block;
            }
            padding: @indent__m 0;
        }
    }

    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: 0;
        &-item-title {
            display: none;
        }
        &-item-content {
            display: block;
            text-align: center;
           /* overflow-x: hidden;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;*/
            padding: 25px 0;
        }
        &-item-content > * {
            display: none;
        }
        &-item-content > .navigation,
        &-item-content > .block-search {
            display: block;
            display: inline-block;
            width: auto;
            vertical-align: top;
        }
        &-item-content > .block-search {
            float: none;
            margin-top: 8px;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: block;
            text-align: left;
        }
        
    }
    .page-header {
        .block-search {
            
        }
        .panel.header,
        .header.content {
        }
    }
    .navigation {
        li {
            position: relative;
        }
        .level0 {
            .submenu {
               
                
                box-shadow: none;
                background-color: transparent;
                a {
                    padding: 11px 15px;
                    background-color: #fff;
                }
                .submenu {
                    padding-left: 9px;
                    margin-left: 0 !important;
                    &.submenu-reverse {
                        padding-right: 9px;
                        padding-left: 0;
                    }
                }
            }
        }
    }

}
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m)  {
    
    .navigation {
        position: static !important;
        > ul {
            position: static !important;
        }
        
        .megamenu {
            position: static !important;
            .megamenu-content {
                display: block !important;
                right: 15px;
                position: absolute;
                top: 47px;
                left: 15px;
                z-index: 999;
                border: 1px solid #ccc;
                padding: 18px 20px 20px;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                .transition(0.1s);

                .submenu .submenu {
                    margin-left: 0 !important;
                    padding-left: 0;
                }
                ul {
                    display: block !important;
                    position: static !important;
                    box-shadow: none;
                    border: none;
                    margin: 0 !important;
                    min-width: auto;
                    .ui-menu-icon {
                        display: none;
                    }
                    a {
                        border: none;
                        padding: 7px 0;
                        font-size: 14px;
                    }

                } 
                
                &:before ,
                &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }

            }
            .megamenu-left {
                float: left;
                width: 80%;
                box-sizing: border-box;
                > ul {
                    &:before ,
                    &:after {
                        content: "";
                        display: table;
                    }
                    &:after {
                        clear: both;
                    }
                    > li {
                        display: block;
                        width: 25%;
                        float: left;
                        padding-right: 10px;
                        box-sizing: border-box;
                        margin-bottom: 18px;
                        font-size: 16px;

                        > a {
                            border-bottom: 1px solid #111111;
                            padding-bottom: 13px;
                            margin-bottom: 5px;
                            font-weight: 500;
                            display: inline-block;
                        }
                        ul {
                            a {
                                text-transform: none;
                            }
                        }
                    }
                }
            }
            .megamenu-right {
                float: left;
                width: 20%;
                padding: 0;
                box-sizing: border-box;
            }
        }
        .submenu {
            display: block !important;
            margin-top: -10px;

        }
        .level0 {
            .submenu {
                margin-top: 3px !important;
                opacity: 0;
                visibility: hidden;
                .transition(0.1s);
            }
            .ui-state-focus,
            .ui-state-active  {
                & + .submenu {
                    margin-top: 0 !important;
                    opacity: 1;
                    visibility: visible;
                    .transition(0.3s);
                    
                }    
            }
            &.megamenu  {
                
                .ui-state-focus,
                .ui-state-active  {
                    & + .megamenu-content {
                        top: 44px;
                        opacity: 1;
                        visibility: visible;
                        .transition(0.3s);
                        .submenu {
                            margin-top: 0px !important;
                            opacity: 1;
                            visibility: visible;
                            .transition(0.3s);
                        }
                    }
                    & + .submenu {
                        opacity: 1;
                        visibility: visible;
                        .transition(0.3s);
                    }    
                }
            }
        }
        .ui-state-focus,
        .ui-state-active  {
            & + .megamenu-content {
                top: 44px;
                opacity: 1;
                visibility: visible;
                .transition(0.3s);
            }
            & + .submenu {
                opacity: 1;
                visibility: visible;
                .transition(0.3s);
            }    
        }
    }

    .megamenu-right {
        .tab-new-category {
            text-align: left;
            .nav-tabs {
                display: none;
                visibility: hidden;
            }
            .block-title {
                font-size: 14px;
                padding-top: 8px;
                margin-bottom: 10px;
                text-align: left;
                font-weight: 500;
                color: rgb(87, 87, 87);
                font-family: @font-family-name__base;
                border-bottom: 1px solid #111111;
                display: inline-block;
                padding-bottom: 13px;
            }
            .products-grid {
                .product-items {
                    margin: 0 -4px;
                }
                .product-item {
                    padding: 0 4px;
                }
                .product-item-inner {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                }
                .product-item-name {
                    font-size: 13px;
                    text-transform: none;
                }
                .price-box .price {
                    font-size: 14px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l)  {
    .navigation {
        .megamenu {
            .megamenu-content {
                padding: 20px 30px 22px;
            }
            .megamenu-left  {
                > ul {
                    > li {
                        padding-right: 10px;
                    }
                }
            }
            .megamenu-right {
            }
        }
    }
}