// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//variable
@pager-icon__next-content: "\f105";
@pager-icon__previous-content: "\f104";
@pager-icon__font: "FontAwesome";
@pager-icon__font-size: 13px;
@pager-action__hover__color: red;
@pager-action__active__color: blue;



//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();
        .action {
            .lib-css(box-shadow, none);
            
            border: none;
            border-radius: 0px;
            padding: 0;
            width: 36px;
            line-height: 36px;
            &.previous {
                margin-right: 0;
            }
            &.next {
                margin-left: 0;
            }
        }
        .items {
            display: block;
        }
        .item {
            vertical-align: top;
        }
        .page,
        strong.page,
        a.page {
            min-width: 26px;
            text-align: center;
            line-height: 36px;
            background-color: #e9e9e9;
            color: #111;
            font-size: 14px;
            text-decoration: none;
            &:hover,
            &:focus {
                color: #fff;
                background-color: #111;
                text-decoration: none;
            }
        }
        strong.page {
            color: #fff;
            background-color: #111;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
           
        }
        
    }
}
