@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.page-header{
    height: 35px;
    display: flex;
    padding: 0px 70px;
    justify-content: space-between;
    background-color: #1d2e3c;
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.header-left{
    width: 490px;
}
.header-left .header-left-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 490px;
    text-align: center;
}
.page-header .switcher .actions .action.toggle, .page-header .switcher .actions .action.toggle.active{
    float: none;
    line-height: 35px!important;
    padding: 0px!important;
}
.header-left a {
    line-height: 35px;
    height: 35px;
    color: white;
}
.page-header .header-left .switcher.language{
    width: 85px;
    flex-basis: 85px;
    order: 1;
    position: relative;
}
.page-header .header-left .switcher.language:after{
    content: '';
    width: 5px;
    border-top: 5px solid #1973bd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 15px;
    left: 80px;
}
.page-header .switcher.currency:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 15px;
    left: 120px;
}
.page-header .switcher.currency:before{
    content: '';
    width: 5px;
    border-top: 5px solid #1973bd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 15px;
    left: 90px;
}
.page-header .header-left .switcher.currency{
    width: 120px;
    flex-basis: 120px;
    order: 2;
}
.page-header .header-left .help{
    width: 115px;
    flex-basis: 115px;
    order: 3;
    position: relative;
}
.page-header .header-left .help:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 10px;
    left: 115px;
}
.page-header .header-left .header-chat{
    width: 170px;
    flex-basis: 170px;
    order: 4;
}
.page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 600;
    font-size: 13px;
}
.page-header .switcher .actions .action.toggle, .page-header .switcher .actions .action.toggle.active{
    padding: 0px;
    line-height: 35px;
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown{
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #ffffff;
    border: none;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    min-width: 100px;
    position: absolute;
    top: 100%;
    top: 35px;
    left: -13px!important;
    box-shadow: none;
    width: 100px!important;
    background: #1d2e3c;
    color: white;
}
.page-header .switcher .actions ul.dropdown li{
    padding-left: 0px;
}
.page-header .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 10px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 600;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
.page-header .switcher .actions ul.dropdown li a{
    padding: 0px!important;
    border: none!important;
    margin: 0px;
    display: inline;
}
.header-chat i {
    margin-right: 5px;
}
.page-header .switcher.currency .options ul.dropdown, .page-footer .switcher.currency .options ul.dropdown{
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #ffffff;
    border: none;
    z-index: 100;
    box-sizing: border-box;
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 110px;
    position: absolute;
    top: 100%;
    top: 35px;
    left: -45px!important;
    box-shadow: none;
    width: 110px!important;
    background: #1d2e3c;
    color: white;
}
.page-header .switcher.currency .actions ul.dropdown li{
    padding: 0 11px;
    flex-basis: 33px;
}
.page-header .switcher .actions ul.dropdown li:hover{
    background-color: #344350!important;
}
.page-header .switcher .actions ul.dropdown li:hover a{
    color: #1973bd;
}
.page-header .switcher .options ul.dropdown a:visited, .page-footer .switcher .options ul.dropdown a:visited{
    color: white;
}
.page-header .switcher .actions ul.dropdown li a:hover{
    color: #1973bd!important;
}
.header-right {
    display: inline-block;
    width: 350px;
}
.minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart.active:before{
    content: '';
}
.minicart-wrapper .action.showcart, .minicart-wrapper .action.showcart.active{
    white-space: nowrap;
    line-height: 35px;
    display: block;
    width: 40px;
    background: #008fff;
    height: 35px;
}
.customer-welcome{
    float: none!important;
}
.minicart-wrapper{
    float: none!important;
}
.customer-welcome .customer-name{
    cursor: pointer;
    line-height: 35px!important;
    width: 180px!important;
    text-align: center;
    display: block;
    height: 35px;
    position: relative;
}
.customer-welcome .customer-name:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 11px;
    left: 180px;
}
.customer-welcome .customer-name p{
    display: inline;
}
.mytour {
    width: 125px;
    display: inline-block;
    text-align: center;
}
.mytour a{
    color: white;
}
.minicart-wrapper .action.showcart .counter.qty.empty, .minicart-wrapper .action.showcart.active .counter.qty.empty{
    text-align: center;
    width: 40px;
    position: absolute;
}
.minicart-wrapper .action.showcart .counter.qty span, .minicart-wrapper .action.showcart.active .counter.qty span{
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.customer-name span a{
    color: white;
}
.customer-name span a:hover{
    color: #1973bd;
}
