@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.header-top{
    height: 35px;
    display: flex;
    padding: 0px 70px!important;
    justify-content: space-between;
    background-color: #1d2e3c;
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.header-left{
    width: 490px;
}
.header-left .header-left-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 490px;
    text-align: center;
}
.header-top .switcher .actions .action.toggle, .header-top .switcher .actions .action.toggle.active{
    float: none;
    line-height: 35px!important;
    padding: 0px!important;
}
.header-left a {
    line-height: 35px;
    height: 35px;
    color: white;
}
.header-top .header-left .switcher.language{
    width: 85px;
    flex-basis: 85px;
    order: 1;
    position: relative;
}
.header-top .header-left .switcher.language:after{
    content: '';
    width: 5px;
    border-top: 5px solid #1973bd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 15px;
    left: 80px;
}
.header-top .switcher.currency:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 15px;
    left: 120px;
}
.header-top .switcher.currency:before{
    content: '';
    width: 5px;
    border-top: 5px solid #1973bd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 15px;
    left: 90px;
}
.header-top .header-left .switcher.currency{
    width: 120px;
    flex-basis: 120px;
    order: 2;
}
.header-top .header-left .help{
    width: 115px;
    flex-basis: 115px;
    order: 3;
    position: relative;
}
.header-top .header-left .help:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 10px;
    left: 115px;
}
.header-top .header-left .header-chat{
    width: 170px;
    flex-basis: 170px;
    order: 4;
}
.header-top .switcher strong, .page-footer .switcher strong {
    font-weight: 600;
    font-size: 13px;
}
.header-top .switcher .actions .action.toggle, .header-top .switcher .actions .action.toggle.active{
    padding: 0px;
    line-height: 35px;
}
.header-top .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown{
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #ffffff;
    border: none;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    min-width: 100px;
    position: absolute;
    top: 100%;
    top: 35px;
    left: -13px!important;
    box-shadow: none;
    width: 100px!important;
    background: #1d2e3c;
    color: white;
}
.header-top .switcher .actions ul.dropdown li{
    padding-left: 0px;
}
.header-top .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 10px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 600;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
.header-top .switcher .actions ul.dropdown li a{
    padding: 0px!important;
    border: none!important;
    margin: 0px;
    display: inline;
}
.header-chat i {
    margin-right: 5px;
}
.header-top .switcher.currency .options ul.dropdown, .page-footer .switcher.currency .options ul.dropdown{
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #ffffff;
    border: none;
    z-index: 100;
    box-sizing: border-box;
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 110px;
    position: absolute;
    top: 100%;
    top: 35px;
    left: -45px!important;
    box-shadow: none;
    width: 110px!important;
    background: #1d2e3c;
    color: white;
}
.header-top .switcher.currency .actions ul.dropdown li{
    padding: 0 11px;
    flex-basis: 33px;
}
.header-top .switcher .actions ul.dropdown li:hover{
    background-color: #344350!important;
}
.header-top .switcher .actions ul.dropdown li:hover a{
    color: #1973bd;
}
.header-top .switcher .options ul.dropdown a:visited, .page-footer .switcher .options ul.dropdown a:visited{
    color: white;
}
.header-top .switcher .actions ul.dropdown li a:hover{
    color: #1973bd!important;
}
.header-right {
    display: inline-block;
    width: 350px;
}
.minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart.active:before{
    content: '';
}
.minicart-wrapper .action.showcart, .minicart-wrapper .action.showcart.active{
    white-space: nowrap;
    line-height: 35px;
    display: block;
    width: 40px;
    background: #008fff;
    height: 35px;
}
.customer-welcome{
    float: none!important;
}
.minicart-wrapper{
    float: none!important;
}
.customer-welcome .customer-name{
    cursor: pointer;
    line-height: 35px!important;
    width: 180px!important;
    text-align: center;
    display: block;
    height: 35px;
    position: relative;
}
.customer-welcome .customer-name:after{
    content: '';
    height: 13px;
    border-left: 1px solid #404c56;
    position: absolute;
    top: 11px;
    left: 180px;
}
.customer-welcome .customer-name p{
    display: inline;
}
.mytour {
    width: 125px;
    display: inline-block;
    text-align: center;
}
.mytour a{
    color: white;
}
.minicart-wrapper .action.showcart .counter.qty.empty, .minicart-wrapper .action.showcart.active .counter.qty.empty{
    text-align: center;
    width: 40px;
    position: absolute;
}
.minicart-wrapper .action.showcart .counter.qty span, .minicart-wrapper .action.showcart.active .counter.qty span{
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.customer-name span a{
    color: white;
}
.customer-name span a:hover{
    color: #1973bd;
}
.block-minicart .subtitle {
    color: black;
}
.block-search .label{
    position: absolute;
    width: 40px;
    height: 43px;
    display: block;
    left: 0px!important;
    top: 30px!important;
    text-align: center;
    background-color: transparent!important;
    color: white!important;
    margin: 0;
    cursor: pointer;
    font-size: 16px!important;
    z-index: 0!important;
}
.block-search .label:before{
    color: white!important;
}
input#search {
    width: 0px;
    background: rgba(255,255,255,0.25);
    border: none;
    border-radius: 5px!important;
    padding-left: 0px;
    top: 30px!important;
    left: -505px;
    z-index: 1;
    transition: 0.4s;
    width: 550px;
    padding-left: 55px;
    transform: scaleX(0);
    transform-origin: right;
    font-size: 13px;
    font-weight: 600;
    color: white!important;
}
input#search::placeholder {
    color: white;
}
.block.block-search.active input#search{
    transform: scaleX(1)
}
.sections.nav-sections{
    display: inline-block!important;
    height: 85px;
    font-size: 13px;
    margin-left: calc(100vw - 1135px);
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    background-color: transparent;
}
.navigation{
    background-color: transparent!important;
}
.navigation .level0 > .level-top{
    color: white!important;
    line-height: 50px!important;
}
.nav-sections-item-content{
    padding: 50px 0px!important;
}
.sections.nav-sections.active{
    opacity: 0;
    visibility: hidden;
}
.navigation ul{
    font-size: 15px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.page-header .block-search{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 22.5px;
}
.logo img {
    display: block;
    max-width: 100%;
    margin-top: 44px;
}
.block-search i.fa.fa-search {
    visibility: hidden;
    color: white;
    position: absolute;
    top: 40px;
    left: -485px;
    z-index: 3;
    font-size: 20px;
    transition: 0.4s;
    opacity: 0;
    transform: translateX(400px);
}
.block-search i.fa.fa-times {
    visibility: hidden;
    color: white;
    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 3;
    font-size: 20px;
    cursor: pointer;  
    transition: 0.4s;
    opacity: 0;
}
span.search-clear {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    z-index: 2;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
    top: 42px;
    left: -52px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    color: white;
}
span.search-clear:after {
    content: '';
    border-right: 1px solid white;
    height: 15px;
    position: absolute;
    top: 1px;
    left: 53px;
    cursor: pointer;
    opacity: 0;
}
.block.block-search.active span.search-clear, .block.block-search.active i.fa.fa-times, .block.block-search.active i.fa.fa-search{
    visibility: visible;
    opacity: 1;
}
.block.block-search.active i.fa.fa-search{
    transform: translateX(0px);
}
.block.block-search.active label.label{
    opacity: 0;
    visibility: hidden;
}
.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus{
    color: #1973bd!important;
    background-color: white;
}
.header-bottom {
    top: 35px;
    left: 85px;
    height: 85px;
    vertical-align: middle;
    position: absolute;
}
.header-bottom.active{
    animation: header-slide-down 0.4s forwards;
    position: fixed;
    top: 0px;
    left: 85px;
}
.header-bottom.active .navigation .level0 > .level-top, .header-bottom.active span.search-clear, .header-bottom.active span.search-clear:after, .header-bottom.active .block-search i.fa.fa-times,.header-bottom.active input#search::placeholder, .header-bottom.active input#search{
    color: black!important;
}
.header-bottom.active .block-search i.fa.fa-search{
    color: #1973bd;
}
.header-bottom.active input#search{
    background-color: #dddfe0
}
@keyframes header-slide-down{
    0%{ transform: translateY(-200px);}
    100%{ transform: translateY(0px);}
}
.page-header{
    position: relative;
}