/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
div.ui-tabs {
    padding: 0 0 20px 0;
}
div.ui-tabs > ul {
    padding-left: 5px;
}
div.ui-tabs li {
    position: relative;
    z-index: 98;
    display:inline-block;
    border: 1px solid #ccc;
    margin: 0 3px;
    padding: 7px 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f7f7f7;
}
div.ui-tabs li.ui-tabs-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 100;
}
div.ui-tabs .ui-state-hover > a {
    color: #444;
}
div.ui-tabs > ul a {
    text-decoration: none;
    color: #777;
    font-size: 1.1em;
}
div.ui-tabs .ui-tabs-active > a {
    color: #444;
}

div.ui-tabs > div {
    position: relative;
    border: 1px solid #CCC;
    padding: 20px;
    z-index: 99;
    font-size: 1.1em;
}
