// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//
//  Messages
//  ---------------------------------------------

@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle3;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//
//  Footer
//  ---------------------------------------------

@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//
//  Layered navigation
//  ---------------------------------------------

@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }
    ._keyfocus *:focus, 
    input:focus:not([disabled]), 
    textarea:focus:not([disabled]), 
    select:focus:not([disabled]) {
        box-shadow: none;
        border: 1px solid #111111;
    }
    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
    }
    .cms-index-index {
        .page-title-wrapper {
            display: none;
        }
    }

    .rating-summary {
        .rating-result {
            &:before {
                content: "\f006""\f006""\f006""\f006""\f006";
                color: #ffcc00;
            }
            > span {

            }
        }
    }
    .review-control-vote {
        &:before {
            content: "\f006""\f006""\f006""\f006""\f006";
            color: #ffcc00;
        }
        
    }
    .category-title-custom {
        background-color: #F3F3F3;
        background-image: url(../images/theme/bg-title.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 60px;
        padding-bottom: 44px;
        .page-title-wrapper {
            text-align: center;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            font-family: 'Raleway';
            text-transform: uppercase;
            .page-title {
                margin-bottom: 2px;
                font-size: 30px;
                color: #fff;
                font-weight: 500;
                font-family: 'Raleway';
                text-transform: uppercase;
            }
        }
        .breadcrumbs {
            background-color: transparent;
            text-align: center;
            .items {
                color: #fff;
                font-size: 14px;
            }
            .item {
                color: #fff;
                font-size: 14px;
                a {
                    color: #fff;
                    font-size: 14px;
                }
                &:not(:last-child) {
                    &:after {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
            
        }

    }
    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: 0;

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;
            > li {
                font-size: 10px;
                margin: 0 0 0 15px;
                > a {
                    .lib-link(
                    @_link-color: #333,
                    @_link-text-decoration: none,
                    @_link-color-visited: #333,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: #333,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: #333,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0;
        position: relative;
        z-index: 5;
        img {
            display: block;
            max-width: 100%;
        }
        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }
        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }
        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }
        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;
            .actions {
                margin-top: @indent__s;
            }
        }
        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
        .lib-css(background, #333);
        .lib-css(color, #fff);
        a{
            .lib-css(color, #fff);
        }
    }

    .footer {
        &.content {
            border-top: 1px solid @footer-links-separator-border-color;
            padding-top: @indent__base;
            ul:extend(.abs-reset-list all) {
            }
            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }
                strong,
                a {
                    display: block;
                    padding: @indent__s 0;
                }
                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }
                a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .copyright {
        display: block;
        padding: @indent__s;
        text-align: center;
    }

    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 10px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 110px
                );
                ul.dropdown {
                    a {
                        .lib-link(
                        @_link-color: @color-gray20,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-gray20,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-gray20,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-gray20,
                        @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                        text-transform: capitalize;
                    }
                }
            }
            strong {
                font-weight: @font-weight__regular;
            }
            .label:extend(.abs-visually-hidden all) {
            }
        }
    }
}

//
//  Navigation
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }
    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: 2px;
    }
    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }
    .page-footer .footer.content {
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;
            .switcher-options {
                display: block;
                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }
                .switcher-trigger strong {
                    padding: @indent__s 0;
                }
                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
    .category-title-custom .page-title-wrapper .page-title {
        font-size: 18px;
        line-height: 1.3;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo {
        margin-bottom: 0px;
        margin-top: 0px;
        float: none;
        display: inline-block;
        margin-left: 30px;
        width: auto;
        padding-top: 9px;
        img {
            height: 30px;
            width: auto;
        }
    }
    .customer-welcome {
        display:none;
    }
    .page-header {
        .panel.header {
            position: relative;
            padding-top: 0;
            padding-bottom: 4px;
            text-align: center;
            &:after,
            &:before {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
        }
        .block-search2 {
            margin-top: 0;
            .block-title {
                display: none;
            }
            .control {
                opacity: 0;
                border: none;
                margin: 0;
            }
            .label.active {
                + .control {
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    bottom: -64px;
                    background-color: #fff;
                    z-index: 99;
                    opacity: 1;
                    border: none;
                    margin: 0;
                    border-bottom: 1px solid #ccc;
                    input {
                        margin: 15px 0;
                    }
                }
            }
            .label {
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 50px;
            }
        }
        .nav-toggle {
            /*top: 50%;
            margin-top: -15px;*/
        }
        .minicart-wrapper{
            /*margin-top: -15px;
            position: absolute;
            right: 15px;
            top: 50%;
            z-index: 99;*/
            .block-minicart {
                &:before,
                &:after {
                    content: none;
                }
            }
        }
    }
    .product.media {
        .fotorama__stage__frame {
            text-align: center;
        }
        
        .fotorama__nav.fotorama__nav--dots {
            height: auto !important;
            margin-bottom: 15px;
        }
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;
        .block-title:extend(.abs-block-widget-title all) {
        }
    }
    .page-footer {
        .block.newsletter {
            background-color: #F5F5F5;
            width: 100%;
            color: #333;
            padding-top: 45px;
            font-size: 14px;
            margin-bottom: 0;
            .title {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 300;
                text-align: center;
                strong{
                    font-size: 20px;
                    font-weight: 300;
                }
            }

            .title,
            .content {
                max-width: 900px;
                margin-right: auto;
                margin-left: auto;
            }

            .label {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                overflow: visible;
                position: static;
                height: auto;
                display: block;
            }

            .control {
                margin-bottom: 30px;
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
                padding: 0 10px;
                &:before {
                    content: none !important;
                }
                input {
                    background-color: transparent;
                    border-width: 0 0 1px;
                    border-color: #7e7e7e;
                    box-shadow: none;
                    text-align: center;
                }
            }

            .actions {
                display: block;
                width: auto;
                text-align: center;
                display: block;
                margin-bottom: 50px;
                text-transform: uppercase;
            }
        }
    }
    .page-footer {
        .lib-css(background, #111);
        .lib-css(color, #fff);
        margin-top: auto;
        padding-bottom: @indent__m;
        ul {
            margin-bottom: 0;
        }
        a {
            .lib-css(color, #fff);
            &:hover {
                .lib-css(color, #999);
            }
        }
       
    }
    .footer-columns {
        .container {
            &:before,
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        
        .widget {
            display: block;
            width: calc(~"(100% - 90px)/"4);
            width: -moz-calc(~"(100% - 90px)/"4);
            width: -webkit-calc(~"(100% - 90px)/"4);
            width: -o-calc(~"(100% - 90px)/"4);
            float: left;
            clear: none;
            margin-right: 30px;
            &:nth-child(4n) {
                margin-right: 0;
            }
            ul {
                padding-left: 0; 
                li{
                    list-style: none;
                    margin-bottom: 12px;
                    a {
                        display: inline-block;
                    }
                }
            }

            .link{
                text-transform: uppercase;
            }

            .link-contact{
                text-transform: none;
                li{
                    position: relative;
                    padding-left: 30px;
                    i{
                        position: absolute;
                        top: 2px;
                        left: 0;
                        font-size: 20px;
                    }
                }
            }

            .block-title {
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 20px;
                margin-top: 8px;
            }

            .block-content {
                font-size: 12px;
            }
        }
    }
    .footer-top {
        padding-top: 25px;
        padding-bottom: 25px;
        ul{
            padding-left: 0;
        }
        .widget {
            &.block-static-block,
            &.block-cms-link {
                margin-bottom: 0;
            }
        }
        .container {
            &:before,
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .widget {
           clear: none;
            &:nth-child(2n) {
                float: right;
            }
            &:nth-child(2n+1) {
                float: left;
            }
            .block-title {
                display: none;
            }
        }

        .link-social,
        .link-paypal {
            li{
                display: inline-block;
                margin-bottom: 10px;
                span{
                    display: none;
                }
            }
        }

        .link-social {
            font-size: 20px;
            li {
                margin-right: 12px;
            }
        }

        .link-paypal {
            font-size: 26px;
            li {
                margin-left: 20px;
            }
        }
    }
    .content-contact {
        .fa {
            font-size: 20px;
            display: block;
            width: 28px;
        }
        td {
            vertical-align: middle;
            padding: 0 0 15px;
        }
    }
    .block-search {
        .nav-sections & {
            display: none;
        }
    }
    .page-header {
        .navigation {
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .footer-columns {
        .widget {
            width: 100%;
            margin: 0; 
            .block-content {
                display: none;
                padding: 12px;
                margin-bottom: 10px;
                border: 1px solid #fff;
            }
            .block-title {
                border: 1px solid #fff;
                margin: 0 0 -1px;
                padding: 0 12px;
                cursor: pointer;
                font-size: 15px;
                position: relative;
                h3 {
                    font-size: 15px;
                    margin: 12px 0;
                }
                &:after {
                    content: "\f107";
                    font-family: "FontAwesome";
                    position: absolute;
                    top: 12px;
                    right: 10px;
                }
            }
        }
    }
    .footer-top {
        .link-social {
            font-size: 14px;
        }
        .link-paypal {
            font-size: 16px;
        }
    }
   
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; //  Stretch screen area for sticky footer
    }

    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .navigation ul {
        padding: 0 8px;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        li{
            margin-bottom: -1px;
            a{
                display: block;
            }
        }
        .ui-menu-icon{
            &:after{
                content: "\f107";
                font-family: "FontAwesome";
                display: inline-block;
            }
        }
        li{
            .level-top{
                > .ui-menu-icon{
                    &:after{
                        position: absolute;
                        bottom: -14px;
                        right: 0;
                        left: 0;
                        text-align: center;
                        color: #999;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.4s;
                    }
                }
            }
            &:hover{
                .ui-menu-icon{
                    &:after{
                        visibility: visible !important;
                        color: #999;
                        opacity: 1 !important;;
                        transition: all 0.4s;
                    }
                }
            }
        }
        .level0 {
            .submenu {
                z-index: 77;
            }
        }
        .submenu {
            text-align: left;
            z-index: 77;
            .ui-menu-icon{
                &:after{
                    content: "\f105";
                    font-family: "FontAwesome";
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
    .page-header {
        border: 0;
        margin-bottom: 0;
        .header-top,
        .header-bottom{
            text-align: center;
            .container{
                position: relative;
            }
        }
        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }
        .header.panel:extend(.abs-add-clearfix-desktop all) {
        }
        .switcher-currency {
            position: relative;
            &:after {
                content: "";
                width: 1px;
                height: 11px;
                background-color: #111;
                position: absolute;
                top: 50%;
                margin-top: -4px;
                right: -1px;
            }
        }
        .switcher {
            float: right;
            font-size: 11px;
            text-transform: uppercase;
            .lib-vendor-prefix-order(1);
            .actions {
                .action.toggle ,
                .action.toggle.active{
                    display: block;
                    line-height: 43px;
                    padding: 2px 7px 0;
                    &:after {
                        content: none;
                    }
                }
                ul.dropdown {
                    right: 0;
                    left: auto;
                    text-align: left;
                    &:before,
                    &:after {
                        content: none;
                    }
                    li {
                        padding: 0 11px;
                        &:hover {
                            background-color: transparent;
                        }
                        a {
                            border-bottom: 1px solid #e9e9e9;
                            padding: 10px 0;
                            &:hover {
                                color: #999;
                            }
                        }
                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            
        }
        .navigation {
            display: inline-block;
            width: auto;
        }
        .block-search {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        float: right;
        display: block;
        .lib-dropdown(
        @_toggle-selector: ~".action.switch",
        @_options-selector: ~"ul",
        @_dropdown-actions-padding: 0,
        @_dropdown-list-item-padding: 0,
        @_dropdown-toggle-icon-content: @icon-down,
        @_dropdown-toggle-active-icon-content: @icon-up,
        @_icon-font-text-hide: true,
        @_icon-font-size: 10px,
        @_icon-font-line-height: 22px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-z-index: @customer-welcome__z-index
        );
        li:extend(.switcher li all) {
            a {
                .lib-link(
                @_link-color: @color-gray20,
                @_link-text-decoration: none,
                @_link-color-visited: @color-gray20,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-gray20,
                @_link-text-decoration-hover: none,
                @_link-color-active: @color-gray20,
                @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }
        .header.links {
            position: absolute;
        }
        ul {
            &:before,
            &:after {
                content: none;
            }
            li {
                padding: 0 11px;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        li {
            
            a {
                border-bottom: 1px solid #e9e9e9;
                &:hover {
                    color: #999;
                }
            }
            &:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
        .customer-name {
            cursor: pointer;
            line-height: 45px;
            width: 32px;
            text-align: center;
            display: block;
        }
        .customer-menu {
            display: none;
        }
        .action.switch {
            display: none;
        }
        .header.links {
            min-width: 175px;
            .link.compare {
                .counter {
                    display: none;
                }
            }
        }
        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
            .customer-menu {
                display: block;
            }
        }
        .greet {
            display: none;
        }
    }

    .header {
        &-top {
            padding-top: 30px;
            padding-bottom: 30px;

        }
        &.panel {
            > .header.links {
                .lib-list-inline();
                position: absolute;
                top: 15px;
                margin-top: 0;
                right: 63px;
                margin-left: auto;
                z-index: 10;
                text-transform: uppercase;
                .welcome{
                    display: none;
                }
                li{
                    vertical-align: middle;
                }
                > li {
                    margin: 0 0 0 7px;
                    
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                        &:hover,
                        &:focus {
                            color: #999;
                            text-decoration: none;
                        }
                    }
                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
                > .authorization-link {
                    &:after {
                        content: "";
                        display: inline-block;
                        margin: 0 0 0 3px;
                        height: 10px;
                        width: 1px;
                        background-color: #333;
                    }
                }
                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }
        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: 30px 15px 0;
        }
    }

    .logo {
        float: left;
        .checkout-index-index & {
           /* position: static;
            margin-top: 10px;
            left: 0;*/
        }
        img {
            
        }
    }
    
    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0;
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .page-footer {
        .block.newsletter {
            .title strong {
                font-size: 36px;
            }
        }
    }
    .sections.nav-sections {
        display: none;
    }
   
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        border: @tooltip__border-width solid @tooltip__border-color;
        .lib-css(background, @tooltip__background);
        padding: 10px;
    }
}
