// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@widgets-indent__bottom: @indent__base;

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.block-static-block,
.block-cms-link {
    &.widget {
        .lib-css(margin-bottom, @widgets-indent__bottom);
        .links & {
            margin-bottom: 0;
        }
    }
}

.block-cms-link-inline {
    &.widget {
        margin: 0;
    }
}

}
